## Import libraries and saved dataframe

In [1]:
import pandas as pd
import numpy as np

In [2]:


from sklearn.feature_extraction.text import TfidfVectorizer

In [3]:
import re

In [4]:
df = pd.read_csv('olx_data_newcairo_5.8k_24_12.csv')

In [5]:
df

,Unnamed: 0,Ad ID,Ad Title,Country,Location,Number of Rooms,Number of Bathrooms,Area,Furnished,creation_date,...,description_text,area_unit,currency_unit,payment_option,number_of_photos,construction_state,package_type,down_payment,href,Price
0,0,199789460,studio in Mivida blue views prime location fro...,Cairo,New Cairo,1,1,86.0,1.0,18 minutes ago,...,Descriptionstudio in Mivida blue views prime l...,Sq. M.,EGP,1.0,2,NaN,NaN,5100000.0,/en/ad/studio-in-mivida-blue-views-prime-locat...,5100000.0
1,1,199703703,دوبلكس للبيع 260م باقساط 8 سنوات في التجمع الخ...,Cairo,Eelaf Residence,5,5,260.0,2.0,18 minutes ago,...,Descriptionكمبوند ايلاف - التجمع الخامس دوبلكس...,Sq. M.,EGP,2.0,10,NaN,NaN,1143000.0,/en/ad/%D8%AF%D9%88%D8%A8%D9%84%D9%83%D8%B3-%D...,11428000.0
2,2,199831199,شقه للبيع باللوتس 180م امام مول Rock gold اكبر...,Cairo,El Lotus,3,2,180.0,2.0,34 minutes ago,...,Descriptionشقه للبيع باللوتساول سكن 180م دور ر...,Sq. M.,EGP,1.0,16,1.0,NaN,NaN,/en/ad/%D8%B4%D9%82%D9%87-%D9%84%D9%84%D8%A8%D...,4000000.0
3,3,199788142,شقة متشطبة بالكامل للبيع ف التجمع عند الجامعه ...,Cairo,New Cairo,3,2,180.0,1.0,18 minutes ago,...,Descriptionكمـبوند ذا ادريس ايست التجمـع الخـا...,Sq. M.,EGP,3.0,5,1.0,NaN,1678000.0,/en/ad/%D8%B4%D9%82%D8%A9-%D9%85%D8%AA%D8%B4%D...,1678000.0
4,4,197283683,بنتهاوس 241م + روف 132م بيت الوطن بالقرب الحي ...,Cairo,New Cairo,4,4,241.0,2.0,18 minutes ago,...,Descriptionاسكن في افضل احياء بيت الوطن علي شا...,Sq. M.,EGP,2.0,9,4.0,NaN,1091875.0,/en/ad/%D8%A8%D9%86%D8%AA%D9%87%D8%A7%D9%88%D8...,4367500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5822,5822,199745636,شقه لقطه للبيع استلام فورى متشطبه فى كمبوند ال...,Cairo,Swan Lake,3,3,166.0,NaN,2 weeks ago,...,Descriptionشقه للبيع استلام فورى متشطبه بالكام...,Sq. M.,EGP,3.0,5,1.0,NaN,NaN,/en/ad/%D8%B4%D9%82%D9%87-%D9%84%D9%82%D8%B7%D...,9500000.0
5823,5823,199745408,دوبلكس للبيع بحديقه خاصه استلام فوري 278م في ه...,Cairo,Hyde Park New Cairo,3,4,278.0,2.0,2 weeks ago,...,DescriptionHydepark - new cairoHPR278m80m gard...,Sq. M.,EGP,1.0,5,4.0,NaN,NaN,/en/ad/%D8%AF%D9%88%D8%A8%D9%84%D9%83%D8%B3-%D...,10300000.0
5824,5824,500374906,Amazing Apartment for sale In Palm Hills new c...,Cairo,Palm Hills New Cairo,3,3,205.0,NaN,2 weeks ago,...,DescriptionPalm Hills new cairoApartment for s...,Sq. M.,EGP,NaN,10,NaN,free,NaN,/en/ad/amazing-apartment-for-sale-in-palm-hill...,7250000.0
5825,5825,500375115,Apartment 171m ready to move for sale in Palm...,Cairo,Palm Hills New Cairo,2,3,171.0,NaN,2 weeks ago,...,DescriptionFor salePalm hills New CairoApartme...,Sq. M.,EGP,NaN,7,NaN,free,NaN,/en/ad/apartment-171m-ready-to-move-for-sale-i...,5700000.0
5826,5826,500374237,"For sale, ground floor apartment with garden, ...",Cairo,The Address East,3,2,140.0,2.0,2 weeks ago,...,"DescriptionFor sale, ground floor apartment wi...",Sq. M.,EGP,NaN,9,NaN,free,NaN,/en/ad/for-sale-ground-floor-apartment-with-ga...,1200000.0

In [95]:
df.sort_values('Area').tail(20)

,Unnamed: 0,Ad ID,Ad Title,Country,Location,Number of Rooms,Number of Bathrooms,Area,Furnished,creation_date,...,currency_unit,payment_option,number_of_photos,construction_state,package_type,down_payment,href,Price,new_txt,full_description
3409,3409,199845113,دوبلكس للبيع ارقي موقع القرنفل فيلات بجوار الرحاب,Cairo,El Koronfel,6,3,495.0,2.0,1 day ago,...,EGP,1.0,3,NaN,featured,5350000.0,/en/ad/%D8%AF%D9%88%D8%A8%D9%84%D9%83%D8%B3-%D...,5350000.0,ع ارقي موقع القرنفل فيلات بجوار الرحاب Descrip...,دوبلكس للبيع ارقي موقع القرنفل فيلات بجوار الر...
1589,1589,199754928,رووف قانونى للبيع فى الحى الثانى بيت الوطن الت...,Cairo,Beit Al Watan,2,2,496.0,2.0,1 day ago,...,EGP,3.0,3,4.0,NaN,1600200.0,/en/ad/%D8%B1%D9%88%D9%88%D9%81-%D9%82%D8%A7%D...,4572000.0,للبيع فى الحى الثانى بيت الوطن settlement fif...,رووف قانونى للبيع فى الحى الثانى بيت الوطن الت...
4949,4949,199726182,دور كامل للبيع التجمع الخامس الحى الاول نصف مفروش,Cairo,5th Settlement,6,2,500.0,1.0,1 week ago,...,EGP,1.0,13,1.0,NaN,NaN,/en/ad/%D8%AF%D9%88%D8%B1-%D9%83%D8%A7%D9%85%D...,13000000.0,بيع settlement fifth الحى الاول نصف furnished ...,دور كامل للبيع التجمع الخامس الحى الاول نصف مف...
5591,5591,199752827,فيلا للبيع في مونتن فيو هايد بارك mountain v...,Cairo,Mountain View Hyde Park,6,2,520.0,NaN,1 week ago,...,EGP,1.0,20,4.0,NaN,NaN,/en/ad/%D9%81%D9%8A%D9%84%D8%A7-%D9%84%D9%84%D...,20000000.0,في مونتن فيو هايد park mountain view hyde ...,فيلا للبيع في مونتن فيو هايد بارك mountain v...
879,879,199827392,فرصة لن تتكرر بنتهاوس 560م تشطيب سوبر لوكس+حما...,Cairo,New Cairo,3,2,560.0,2.0,8 hours ago,...,EGP,1.0,12,1.0,NaN,NaN,/en/ad/%D9%81%D8%B1%D8%B5%D8%A9-%D9%84%D9%86-%...,6000000.0,رر بنتهاوس 560م تشطيب سوبر lux+حمام swimming ج...,فرصة لن تتكرر بنتهاوس 560م تشطيب سوبر لوكس+حما...
3442,3442,199842808,دوبليكس 560م الحى الأول التجمع الخامس,Cairo,5th Settlement,6,3,560.0,2.0,1 day ago,...,EGP,1.0,8,1.0,featured,NaN,/en/ad/%D8%AF%D9%88%D8%A8%D9%84%D9%8A%D9%83%D8...,7000000.0,م الحى الأول settlement fifth Descriptionالدور...,دوبليكس 560م الحى الأول التجمع الخامس Descript...
9,9,199811192,دوبلكس 600م متشطب بحمام سباحة 6 غرف بالشويفات,Cairo,EL Shouyfat,6,6,600.0,2.0,18 minutes ago,...,EGP,1.0,20,1.0,featured,12000000.0,/en/ad/%D8%AF%D9%88%D8%A8%D9%84%D9%83%D8%B3-60...,12000000.0,finished بحمام swimming 6 غرف بالشويفات Descr...,دوبلكس 600م متشطب بحمام سباحة 6 غرف بالشويفات ...
573,573,198656187,دوبلكس للبيع غرب ارابيلا التجمع الثالث,Cairo,West Arabella,3,4,600.0,2.0,2 months ago,...,EGP,1.0,20,1.0,NaN,NaN,/en/ad/%D8%AF%D9%88%D8%A8%D9%84%D9%83%D8%B3-%D...,8700000.0,ع غرب ارابيلا settlement الثالث Descriptionدوب...,دوبلكس للبيع غرب ارابيلا التجمع الثالث Descrip...
1779,1779,199299604,نص فيلا للبيع - ف ارقي احياء التجمع الخامس - ا...,Cairo,5th Settlement,6,3,650.0,2.0,2 days ago,...,EGP,NaN,2,4.0,featured,NaN,/en/ad/%D9%86%D8%B5-%D9%81%D9%8A%D9%84%D8%A7-%...,7500000.0,يع - ف ارقي احياء settlement fifth - الحي الثا...,نص فيلا للبيع - ف ارقي احياء التجمع الخامس - ا...
684,684,198938144,للبيع في اللوتس الجنوبيه روف قانوني 690م فيو م...,Cairo,El Lotus,2,1,690.0,2.0,6 hours ago,...,EGP,3.0,12,4.0,NaN,NaN,/en/ad/%D9%84%D9%84%D8%A8%D9%8A%D8%B9-%D9%81%D...,3600000.0,لوتس الجنوبيه روف قانوني 690م فيو مفتوح قسط او...,للبيع في اللوتس الجنوبيه روف قانوني 690م فيو م...
4568,4568,198915592,رووف كامل للبيع في اللوتس دقيقة من التسعين الج...,Cairo,5th Settlement,4,2,690.0,2.0,1 week ago,...,EGP,2.0,6,4.0,NaN,NaN,/en/ad/%D8%B1%D9%88%D9%88%D9%81-%D9%83%D8%A7%D...,3600000.0,لبيع في اللوتس دقيقة من التسعين الجنوبي و بالت...,رووف كامل للبيع في اللوتس دقيقة من التسعين الج...
1836,1836,199813812,دوبلكس للبيع في التجمع الخامس الترا سوبر لوكس,Cairo,1st Settlement,5,5,700.0,NaN,2 days ago,...,EGP,1.0,20,1.0,NaN,NaN,/en/ad/%D8%AF%D9%88%D8%A8%D9%84%D9%83%D8%B3-%D...,7000000.0,ع في settlement fifth الترا سوبر lux Descripti...,دوبلكس للبيع في التجمع الخامس الترا سوبر لوكس ...
5649,5649,199750641,دوبلكس للبيع في التجمع الخامس موقع متميز جدا,Cairo,New Cairo,4,4,750.0,NaN,2 weeks ago,...,EGP,1.0,20,1.0,NaN,NaN,/en/ad/%D8%AF%D9%88%D8%A8%D9%84%D9%83%D8%B3-%D...,7200000.0,ع في settlement fifth موقع متميز جدا Descripti...,دوبلكس للبيع في التجمع الخامس موقع متميز جدا D...
1595,1595,500380428,اسكن جمب الجامعة الامريكية فى شقه 140م كمبوند ...,Cairo,Sephora Heights,3,2,1140.0,2.0,1 day ago,...,EGP,NaN,11,NaN,free,NaN,/en/ad/%D8%A7%D8%B3%D9%83%D9%86-%D8%AC%D9%85%D...,6468000.0,جامعة الامريكية فى apartment 140م compound سيف...,اسكن جمب الجامعة الامريكية فى شقه 140م كمبوند ...
3781,3781,500378151,Fully finished penthouse ready to move for sal...,Cairo,Galleria Moon Valley,3,3,1190.0,NaN,6 days ago,...,EGP,3.0,13,1.0,free,NaN,/en/ad/fully-finished-penthouse-ready-to-move-...,1500000.0,hed penthouse ready to move for sale in Galler...,Fully finished penthouse ready to move for sal...
2304,2304,500379257,Villa Standalone for sale Fully Finished in Ne...,Cairo,South of Academy,10,7,1560.0,1.0,2 days ago,...,EGP,1.0,7,NaN,free,NaN,/en/ad/villa-standalone-for-sale-fully-finishe...,34500000.0,alone for sale Fully Finished in New Cairo Sou...,Villa Standalone for sale Fully Finished in Ne...
2308,2308,500379207,I villa for sale BEACH EDITION -Very prime lo...,Cairo,Mountain View iCity,3,3,1655.0,NaN,2 days ago,...,EGP,NaN,10,NaN,free,NaN,/en/ad/i-villa-for-sale-beach-edition-very-pri...,3913266.0,sale BEACH EDITION -Very prime location - La...,I villa for sale BEACH EDITION -Very prime lo...
4444,4444,199033327,دوبلكس في البنفسج 4 فيلات فيو جنينه التجمع الق...,Cairo,1st Settlement,4,4,3337.0,2.0,1 week ago,...,EGP,1.0,4,4.0,free,NaN,/en/ad/%D8%AF%D9%88%D8%A8%D9%84%D9%83%D8%B3-%D...,3400000.0,لبنفسج 4 فيلات فيو جنينه settlement القاهرة ال...,دوبلكس في البنفسج 4 فيلات فيو جنينه التجمع الق...
4821,4821,500376636,شقة 125م استلام فوري مفتوحة على بيسين و جاردن ...,Cairo,5th Settlement,2,1,700000.0,NaN,1 week ago,...,EGP,NaN,14,NaN,free,700000.0,/en/ad/%D8%B4%D9%82%D8%A9-125%D9%85-%D8%A7%D8%...,700000.0,تلام فوري مفتوحة على بيسين و جاردن بالتجمع fif...,شقة 125م استلام فوري مفتوحة على بيسين و جاردن ...
4815,4815,500376617,شقة للبيع 150م مفتوحة على لاند سكيب بالتجمع ال...,Cairo,New Cairo,3,2,700000.0,NaN,1 week ago,...,EGP,NaN,11,NaN,free,700000.0,/en/ad/%D8%B4%D9%82%D8%A9-%D9%84%D9%84%D8%A8%D...,700000.0,50م مفتوحة على لاند سكيب بالتجمع الأول فى تاج ...,شقة للبيع 150م مفتوحة على لاند سكيب بالتجمع ال...

## Trying several methods to extract useful content from description

## Utilizing tfidf to analyze top words

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer
from googletrans import Translator

In [8]:
apartment_ads = list(df.new_txt)

In [9]:
tfidf_vectorizer = TfidfVectorizer(
    stop_words='english',
    max_df=0.85,  # Ignore terms that appear in more than 85% of the documents
    min_df=0.05,  # Ignore terms that appear in fewer than 5% of the documents
    max_features=100
)

# Fit and transform the data
tfidf_matrix = tfidf_vectorizer.fit_transform(apartment_ads)

# Get feature names (terms)
feature_names = tfidf_vectorizer.get_feature_names()

# Convert TF-IDF matrix to dense format and create a DataFrame
dense_tfidf_matrix = pd.DataFrame(tfidf_matrix.todense(), columns=feature_names)

# Include apartment ads descriptions as rows in the DataFrame
dense_tfidf_matrix['Apartment_Ad_Description'] = apartment_ads

# Display the DataFrame
dense_tfidf_matrix

,000,10,500,airport,apartment,area,bathrooms,bedrooms,cairo,city,...,مطبخ,مع,مقدم,مميز,من,موقع,نوم,هايد,واتساب,Apartment_Ad_Description
0,0.595003,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.00000,0.0,0.000000,0.0,0.00000,0.0,0.0,studio in Mivida blue views prime location fro...
1,0.139310,0.230365,0.0,0.099771,0.000000,0.0,0.000000,0.000000,0.341623,0.159146,...,0.000000,0.0,0.00000,0.0,0.113806,0.0,0.00000,0.0,0.0,compound ايلاف - settlement fifth دوبلكسالمساح...
2,0.188202,0.000000,0.0,0.000000,0.129002,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.00000,0.0,0.153747,0.0,0.00000,0.0,0.0,apartment للبيع باللوتساول سكن 180م دور رابع٣غ...
3,0.226550,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.30051,0.0,0.185075,0.0,0.00000,0.0,0.0,كمـبوند ذا ادريس ايست التجمـع الخـامس | The A...
4,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.249205,0.0,0.00000,0.0,0.483112,0.0,0.00000,0.0,0.0,اسكن في افضل احياء بيت الوطن علي شارع عريض 30م...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5822,0.000000,0.000000,0.0,0.000000,0.112114,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.00000,0.0,0.000000,0.0,0.20031,0.0,0.0,apartment للبيع استلام فورى finished بالكامل و...
5823,0.500443,0.662031,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.00000,0.0,0.000000,0.0,0.00000,0.0,0.0,Hydepark - new cairoHPR278m80m garden3 bedroom...
5824,0.350356,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.00000,0.0,0.000000,0.0,0.00000,0.0,0.0,Palm Hills new cairoApartment for saleBua: 205...
5825,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.114255,0.000000,...,0.000000,0.0,0.00000,0.0,0.000000,0.0,0.00000,0.0,0.0,For salePalm hills New CairoApartment for sale...
5826,0.000000,0.000000,0.0,0.000000,0.155758,0.0,0.360242,0.359391,0.000000,0.000000,...,0.000000,0.0,0.00000,0.0,0.000000,0.0,0.00000,0.0,0.0,"For sale, ground floor apartment with garden, ..."

In [10]:
dense_tfidf_matrix.columns[:50]

Index(['000', '10', '500', 'airport', 'apartment', 'area', 'bathrooms',
       'bedrooms', 'cairo', 'city', 'club', 'company', 'compound', 'estate',
       'fifth', 'finished', 'garden', 'hills', 'hyde', 'installments',
       'located', 'location', 'mall', 'minutes', 'mountain', 'near', 'new',
       'palm', 'park', 'payment', 'price', 'project', 'real', 'road', 'sale',
       'services', 'settlement', 'square', 'swimming', 'taj', 'view', 'اتصل',
       'استلام', 'التسعين', 'التفاصيل', 'التواصل', 'الجامعة', 'الجديدة',
       'السعر', 'السويس'],
      dtype='object')

In [11]:
dense_tfidf_matrix.columns[50:100]

Index(['الف', 'القاهرة', 'المشروع', 'امام', 'او', 'بجوار', 'بدون', 'بعد',
       'بمقدم', 'تاج', 'تراس', 'تشطيب', 'جاردن', 'جدا', 'جميع', 'حمام',
       'ريسبشن', 'سنوات', 'سنين', 'سيتي', 'شارع', 'شركة', 'طريق', 'على', 'علي',
       'عن', 'غرف', 'غرفة', 'فقط', 'فوري', 'فى', 'في', 'فيو', 'للبيع',
       'للتواصل', 'ماستر', 'مباشرة', 'متر', 'مدينة', 'مساحة', 'مصر', 'مطبخ',
       'مع', 'مقدم', 'مميز', 'من', 'موقع', 'نوم', 'هايد', 'واتساب'],
      dtype='object')

In [12]:
dense_tfidf_matrix.columns[100:]

Index(['Apartment_Ad_Description'], dtype='object')

In [37]:
import re

In [74]:
len('hi')

2

In [75]:
type(['a'])

list

## Use dictionary to unify same words with different spelling

In [6]:
replacement_dict = {
    'apartment': ['شقة', 'شقه'],
    'services': ['خدمات','الخدمات'],
    'installments': ['تقسيط','اقساط','installment','اقساط'],
    'finished': [ 'متشطب'],
    'compound': 'كمبوند',
    'furnished':['مفروش'],
    'fifth': ['خامس'],
    'settlement':['تجمع'],
    'mall':['مول'],
    'club':['نادي'],
    'located':['يقع'],
    'near':'القرب',
    'lux':'لوكس',
    'park':'بارك',
    'full':'كامل',
    'swimming':'سباحة',
    'minutes':'دقائق',
    'airport':'مطار',
    'zayed':'زايد',
    
    

    # Add more key-value pairs as needed
}

# Specify the column in which you want to replace words
column_to_replace = 'description_text'


def generate_regex(word):
    return fr'\b(?:\w{{0,2}}{re.escape(word)}\w{{0,2}})\b'


def replace_words(text):
    for key, values in replacement_dict.items():
        if isinstance(values, str):
            regex = generate_regex(values)
            text = re.sub(regex, key, text)
        else:
            for value in values:
                regex = generate_regex(value)
                text = re.sub(regex, key, text)
    return text


# Apply the replacement function to the specified column
df['new_txt'] = df[column_to_replace].str[len('Description'):].apply(replace_words)

In [7]:
df[['new_txt','description_text']]

,new_txt,description_text
0,studio in Mivida blue views prime location fro...,Descriptionstudio in Mivida blue views prime l...
1,compound ايلاف - settlement fifth دوبلكسالمساح...,Descriptionكمبوند ايلاف - التجمع الخامس دوبلكس...
2,apartment للبيع باللوتساول سكن 180م دور رابع٣غ...,Descriptionشقه للبيع باللوتساول سكن 180م دور ر...
3,كمـبوند ذا ادريس ايست التجمـع الخـامس | The A...,Descriptionكمـبوند ذا ادريس ايست التجمـع الخـا...
4,اسكن في افضل احياء بيت الوطن علي شارع عريض 30م...,Descriptionاسكن في افضل احياء بيت الوطن علي شا...
...,...,...
5822,apartment للبيع استلام فورى finished بالكامل و...,Descriptionشقه للبيع استلام فورى متشطبه بالكام...
5823,Hydepark - new cairoHPR278m80m garden3 bedroom...,DescriptionHydepark - new cairoHPR278m80m gard...
5824,Palm Hills new cairoApartment for saleBua: 205...,DescriptionPalm Hills new cairoApartment for s...
5825,For salePalm hills New CairoApartment for sale...,DescriptionFor salePalm hills New CairoApartme...
5826,"For sale, ground floor apartment with garden, ...","DescriptionFor sale, ground floor apartment wi..."

In [80]:
df[['new_txt','description_text']]

,new_txt,description_text
0,DescriptionApartment for sale in uptown cairov...,DescriptionApartment for sale in uptown cairov...
1,Descriptionالمراسمفيفث سكويرشقة 147 مموقع متمي...,Descriptionالمراسمفيفث سكويرشقة 147 مموقع متمي...
2,DescriptionUnique apartment for sale in Smouha...,DescriptionUnique apartment for sale in Smouha...
3,DescriptionTelal east sky duplex View water fe...,DescriptionTelal east sky duplex View water fe...
4,Descriptionبسعر حصري استلام فوري بمقدم 10% ins...,Descriptionبسعر حصري استلام فوري بمقدم 10% تقس...
...,...,...
5548,DescriptionApartment for sale in One Katameya1...,DescriptionApartment for sale in One Katameya1...
5549,Descriptionاستلم فوراااا دوبلكس furnished للبي...,Descriptionاستلم فوراااا دوبلكس متشطب للبيع في...
5550,Descriptionدوبلكس جاهز للمعاينه و furnished ف...,Descriptionدوبلكس جاهز للمعاينه و متشطبه في ق...
5551,Descriptionاستلم حااالا furnished apartment 13...,Descriptionاستلم حااالا متشطب شقه 136م في الجو...
5552,Descriptionامتلك وحدتك متشطبة الترا مودرن + سم...,Descriptionامتلك وحدتك متشطبة الترا مودرن + سم...

In [78]:
df[['new_txt','description_text']].tail(1).iloc[0,0]

'Descriptionامتلك وحدتك متشطبة الترا مودرن + سمارت هوم بالتقسيط apartment للبيع مساحتها : [ 108 متر ]بالقرب الشديد من منطقة services بـ فيو مميز جدا علي لاندسكيب من كل مكان داخل الوحدة| متشطبة بالكامل الترا مودرن علي اعلى مستوى بالإضافة الي ان كل الاجهزة والمرافق تعمل بنظام البيت الذكي |في كومباوند [ باديا ] 6 أكتوبر- يقع المشروع في موقع مميز جدا و استراتيجي في مدينة 6 أكتوبر تحديداً في منطقة التوسعات الشماليةبالقرب الشديد من مطار سفينكس و ميدان جهينةالمطلوب كاش : [ 530 الف ] و باقي المبلغ بالتقسيط علي أطول فترة سدادبدون فوائد و بدون عمولات'

In [81]:
pip install nltk

Requirement already satisfied: nltk in d:\anaconda3\lib\site-packages (3.6.1)
Requirement already satisfied: click in d:\anaconda3\lib\site-packages (from nltk) (7.1.2)
Requirement already satisfied: tqdm in d:\anaconda3\lib\site-packages (from nltk) (4.59.0)
Requirement already satisfied: joblib in d:\anaconda3\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex in d:\anaconda3\lib\site-packages (from nltk) (2021.4.4)
Note: you may need to restart the kernel to use updated packages.

In [84]:
pip install stopwordsiso

Collecting stopwordsiso
  Downloading stopwordsiso-0.6.1-py3-none-any.whl (73 kB)
Installing collected packages: stopwordsiso
Successfully installed stopwordsiso-0.6.1
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet
from stopwordsiso import stopwords as arabic_stop_words
import langid

# Download NLTK resources
import nltk
# nltk.download('wordnet')
# nltk.download('punkt')
# nltk.download('stopwords')

In [92]:
from nltk.stem.isri import ISRIStemmer

In [98]:



# Initialize lemmatizers for English and Arabic
english_lemmatizer = WordNetLemmatizer()
#arabic_stop_words = get_stop_words('arabic')

# Define a function for lemmatization and stop word removal
# Define a function for lemmatization and stop word removal
def process_text(sentence):
    words = word_tokenize(sentence)
    processed_words = []

    for word in words:
        lang, _ = langid.classify(word)

        if lang == 'en':
            stop_words = set(stopwords.words('english'))
            processed_word = english_lemmatizer.lemmatize(word, wordnet.VERB)
            if processed_word.lower() not in stop_words:
                processed_words.append(processed_word)
        elif lang == 'ar':
            if word not in arabic_stop_words('ar'):
                word = ISRIStemmer().stem(word)
                processed_words.append(word)
        else:
            processed_words.append(word)

    return ' '.join(processed_words)

# Apply text processing to the specified column
df2['lem_txt'] = df2['description_text'].apply(process_text)

In [100]:
df2[['lem_txt','description_text']].sample(10)

,lem_txt,description_text
1123,Descriptionشقة تشطب فور فضل قسم و شطب بلم هيلز...,Descriptionشقة متشطبة فوري بافضل تقسيم و تشطي...
2821,Descriptionشقة بيع جمع الخامس بجوار City Mount...,Descriptionشقة للبيع في التجمع الخامس بجوار I ...
674,Descriptionدوبلكس بجاردن بيع قسط كمبوند البروج...,Descriptionدوبلكس بجاردن للبيع بالتقسيط في كمب...
1151,Descriptionشقه متشطبه استلام فورى بيع جمع الخا...,Descriptionشقه متشطبه استلام فورى للبيع بالتجم...
525,DescriptionFor Sale Joulz Compound Apartment G...,DescriptionFor Sale Joulz Compound Apartment G...
5167,Descriptionبنتهاوس شقة بيع استلام فور ( جهز لل...,Descriptionبنتهاوس شقة للبيع استلام فوري ( جاه...
162,Descriptionشقه بيع وقع ميز ب الح بيت وطن جمع ا...,Descriptionشقه للبيع بموقع مميز ب الحي الاول ب...
1807,Descriptionمنزل بيع دين العاشر رمض جار ٤٠ ساح ...,Descriptionمنزل للبيع مدينة العاشر من رمضان مج...
668,Description‎شقة ١٨٠م دلس١ بحر دور علي جنن بجوا...,Description‎شقة ١٨٠م في الاندلس١ بحري دور اول ...
813,Descriptionشقه بلح تسع بقل سعر متر حرف نصي ممر...,Descriptionشقه بالحي التاسع باقل سعر متر حرف A...

In [106]:
df2[['lem_txt','description_text']].iloc[0,0]

'Descriptionشقة لقط بيع فور جمع بفو رائع مباشر مساحتها : 120مسعرها : 5,300,000بالتقسيط اطل فتر سدادللمعاينة وانتهاز فرص وصل بشر : 01026359676ٍSephora Hieghts : سلم شقتك فور بسعر لقط لوكيشن ميز يقع شرع ربع ذهب 3 دقائق طقه ثمر جنوبيهمساحه الشقه 105 م تطل علي فيو فتح حدق كون ( 2 غرف نوم كبيره+ 2 حمم+ طبخ +تراس يطل علي فيو ) 8د طرق السخنه16د طرق رحب س3د جمع امر -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- خدمات كومبوند يفر سيت : -مساح خضرا-مول تجاري-مناطق ترفيهيه-نادى ريضى وند جمع و ندي صحي-تراك مشى-حمام سباحة-انتركم-اسانسير داخل عمارة- جراج خاص-مراكز طبيهانتهز فرص تصل بشر : 01026359676 وتس اب : 01026359676'

In [108]:
xo = df2[['lem_txt','description_text']].iloc[0,0]

In [6]:
def add_space_between_words(text):
    # Define a regular expression pattern to identify boundaries
    pattern = re.compile(r'([^\d\s]+|\d+)')

    # Use the pattern to split the text and insert spaces
    result = ' '.join(pattern.findall(text))

    return result

In [119]:
xo

'Descriptionشقة لقط بيع فور جمع بفو رائع مباشر مساحتها : 120مسعرها : 5,300,000بالتقسيط اطل فتر سدادللمعاينة وانتهاز فرص وصل بشر : 01026359676ٍSephora Hieghts : سلم شقتك فور بسعر لقط لوكيشن ميز يقع شرع ربع ذهب 3 دقائق طقه ثمر جنوبيهمساحه الشقه 105 م تطل علي فيو فتح حدق كون ( 2 غرف نوم كبيره+ 2 حمم+ طبخ +تراس يطل علي فيو ) 8د طرق السخنه16د طرق رحب س3د جمع امر -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- خدمات كومبوند يفر سيت : -مساح خضرا-مول تجاري-مناطق ترفيهيه-نادى ريضى وند جمع و ندي صحي-تراك مشى-حمام سباحة-انتركم-اسانسير داخل عمارة- جراج خاص-مراكز طبيهانتهز فرص تصل بشر : 01026359676 وتس اب : 01026359676'

In [120]:
add_space_between_words(xo)

'Descriptionشقة لقط بيع فور جمع بفو رائع مباشر مساحتها : 120 مسعرها : 5 , 300 , 000 بالتقسيط اطل فتر سدادللمعاينة وانتهاز فرص وصل بشر : 01026359676 ٍSephora Hieghts : سلم شقتك فور بسعر لقط لوكيشن ميز يقع شرع ربع ذهب 3 دقائق طقه ثمر جنوبيهمساحه الشقه 105 م تطل علي فيو فتح حدق كون ( 2 غرف نوم كبيره+ 2 حمم+ طبخ +تراس يطل علي فيو ) 8 د طرق السخنه 16 د طرق رحب س 3 د جمع امر -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- خدمات كومبوند يفر سيت : -مساح خضرا-مول تجاري-مناطق ترفيهيه-نادى ريضى وند جمع و ندي صحي-تراك مشى-حمام سباحة-انتركم-اسانسير داخل عمارة- جراج خاص-مراكز طبيهانتهز فرص تصل بشر : 01026359676 وتس اب : 01026359676'

In [107]:
df2[['lem_txt','description_text']].iloc[0,1]

'Descriptionشقة لقطة للبيع الفوري في التجمع  بفيو رائع مباشر مساحتها : 120مسعرها : 5,300,000بالتقسيط على اطول فترة سدادللمعاينة وانتهاز الفرصة تواصل مباشرة على : 01026359676ٍSephora Hieghts :استلم شقتك فوري بسعر لقطه لوكيشن مميز يقع المشروع في المربع الذهبي 3 دقائق من منطقه المستثمرين الجنوبيهمساحه الشقه 105 م تطل علي فيو مفتوح حديقه مكونه من (2 غرف نوم كبيره+ 2 حمام+ مطبخ +تراس يطل علي فيو )8د من طريق السخنه16د من طريق الرحاب والسويس3د من الجامعه الامريكيه--------------------------------خدمات كومبوند سيفورا سيتي:-مساحات خضرا-مول تجاري-مناطق ترفيهيه-نادى رياضى ونادي اجتماعي و نادي صحي-تراك للمشى-حمامات سباحة-انتركم-اسانسير داخل كل عمارة- جراج خاص-مراكز طبيهانتهز الفرصة الان واتصل مباشرة على : 01026359676   او واتس اب على : 01026359676'

In [97]:
ISRIStemmer().stem("للبيع")

'بيع'

In [42]:
apartment_ads = list(df.new_txt)

In [43]:
tfidf_vectorizer = TfidfVectorizer(
    stop_words='english',
    max_df=0.85,  # Ignore terms that appear in more than 85% of the documents
    min_df=0.05,  # Ignore terms that appear in fewer than 5% of the documents
    max_features=150
)

# Fit and transform the data
tfidf_matrix = tfidf_vectorizer.fit_transform(apartment_ads)

# Get feature names (terms)
feature_names = tfidf_vectorizer.get_feature_names()

# Convert TF-IDF matrix to dense format and create a DataFrame
dense_tfidf_matrix = pd.DataFrame(tfidf_matrix.todense(), columns=feature_names)

# Include apartment ads descriptions as rows in the DataFrame
dense_tfidf_matrix['Apartment_Ad_Description'] = apartment_ads

# Display the DataFrame
dense_tfidf_matrix

,000,10,15,20,500,al,apartment,area,bathrooms,bedrooms,...,منهم,موقع,مول,نادي,نوم,واتس,واتساب,يقع,يوجد,Apartment_Ad_Description
0,0.388585,0.000000,0.0,0.0,0.650661,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,DescriptionApartment for sale in uptown cairov...
1,0.058019,0.136011,0.0,0.0,0.000000,0.0,0.063343,0.076183,0.000000,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.090583,0.0,Descriptionالمراسمفيفث سكويرapartment 147 مموق...
2,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.342864,0.000000,0.468615,0.471444,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,DescriptionUnique apartment for sale in Smouha...
3,0.324296,0.000000,0.0,0.0,0.543013,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,DescriptionTelal east sky duplex View water fe...
4,0.000000,0.219892,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,Descriptionبسعر حصري استلام فوري بمقدم 10% ins...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5548,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,DescriptionApartment for sale in One Katameya1...
5549,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.335257,0.000000,0.0,Descriptionاستلم فوراااا دوبلكس متشطب للبيع في...
5550,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.256208,0.000000,0.0,Descriptionدوبلكس جاهز للمعاينه و متشطبه في ق...
5551,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.300577,0.000000,0.0,Descriptionاستلم حااالا متشطب شقه 136م في الجو...
5552,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.107392,0.000000,0.000000,0.000000,...,0.0,0.133796,0.0,0.0,0.0,0.0,0.000000,0.153573,0.0,Descriptionامتلك وحدتك متشطبة الترا مودرن + سم...

In [44]:
dense_tfidf_matrix.columns[:50]

Index(['000', '10', '15', '20', '500', 'al', 'apartment', 'area', 'bathrooms',
       'bedrooms', 'cairo', 'capital', 'city', 'club', 'company', 'compound',
       'descriptionapartment', 'descriptionشقه', 'descriptionللبيع', 'details',
       'fifth', 'finished', 'green', 'installments', 'international',
       'located', 'location', 'minutes', 'new', 'park', 'payment', 'price',
       'project', 'reception', 'road', 'sale', 'services', 'settlement',
       'spaces', 'square', 'swimming', 'view', 'years', 'اب', 'اتصل', 'استلام',
       'اقساط', 'اكتوبر', 'الapartment', 'الباقي'],
      dtype='object')

In [45]:
dense_tfidf_matrix.columns[50:100]

Index(['التجمع', 'التسعين', 'التفاصيل', 'التواصل', 'الجامعة', 'الجديدة',
       'الخامس', 'الدور', 'السعر', 'السويس', 'الشقه', 'الشيخ', 'العاصمة',
       'العقاري', 'الف', 'القاهرة', 'الكمبوند', 'المشروع', 'امام', 'او',
       'بارك', 'بالinstallments', 'بالقرب', 'بالكامل', 'بجوار', 'بدون', 'بعد',
       'بمقدم', 'تراس', 'تشطيب', 'جاردن', 'جدا', 'جميع', 'حمام', 'حمامات',
       'خاص', 'خدمات', 'خضراء', 'داخل', 'دقائق', 'دور', 'ريسبشن', 'زايد',
       'سباحة', 'سعر', 'سنوات', 'سنين', 'سوبر', 'سيتي', 'شارع'],
      dtype='object')

In [46]:
dense_tfidf_matrix.columns[100:]

Index(['شركة', 'شقه', 'طريق', 'على', 'علي', 'عن', 'غرف', 'غرفة', 'غرفه', 'فقط',
       'فوري', 'فى', 'في', 'فيو', 'قلب', 'كاش', 'كامل', 'كبير', 'كل', 'كمبوند',
       'للبيع', 'للتواصل', 'لوكس', 'ماستر', 'مباشرة', 'متر', 'متكامل', 'مدينة',
       'مساحات', 'مساحة', 'مساحه', 'مصر', 'مطار', 'مطبخ', 'مطلوب', 'مع',
       'مقدم', 'مليون', 'مميز', 'من', 'منطقة', 'منهم', 'موقع', 'مول', 'نادي',
       'نوم', 'واتس', 'واتساب', 'يقع', 'يوجد', 'Apartment_Ad_Description'],
      dtype='object')

In [32]:
dense_tfidf_matrix.columns[:50]

Index(['000', '10', '15', '20', '500', 'al', 'apartment', 'area', 'bathrooms',
       'bedrooms', 'cairo', 'capital', 'city', 'club', 'company', 'compound',
       'descriptionشقة', 'descriptionشقه', 'descriptionللبيع', 'fifth',
       'finished', 'green', 'installments', 'international', 'located',
       'location', 'minutes', 'new', 'park', 'payment', 'price', 'project',
       'reception', 'road', 'sale', 'services', 'settlement', 'spaces',
       'square', 'view', 'years', 'اب', 'اتصل', 'استلام', 'اقساط', 'اكتوبر',
       'الباقي', 'التجمع', 'التسعين', 'التفاصيل'],
      dtype='object')

In [34]:
dense_tfidf_matrix.columns[50:100]

Index(['التواصل', 'الجامعة', 'الجديدة', 'الخامس', 'الخدمات', 'الدور', 'السعر',
       'السويس', 'الشقة', 'الشقه', 'الشيخ', 'العاصمة', 'العقاري', 'الف',
       'القاهرة', 'الكمبوند', 'المشروع', 'امام', 'او', 'بارك', 'بالقرب',
       'بالكامل', 'بجوار', 'بدون', 'بعد', 'بمقدم', 'تراس', 'تشطيب', 'تقسيط',
       'جاردن', 'جدا', 'جميع', 'حمام', 'حمامات', 'خاص', 'خدمات', 'خضراء',
       'داخل', 'دقائق', 'دور', 'ريسبشن', 'زايد', 'سباحة', 'سعر', 'سنوات',
       'سنين', 'سوبر', 'سيتي', 'شارع', 'شركة'],
      dtype='object')

In [35]:
dense_tfidf_matrix.columns[100:]

Index(['شقة', 'شقه', 'طريق', 'على', 'علي', 'عن', 'غرف', 'غرفة', 'غرفه', 'فقط',
       'فوري', 'فى', 'في', 'فيو', 'قلب', 'كاش', 'كامل', 'كبير', 'كل', 'كمبوند',
       'للبيع', 'للتواصل', 'لوكس', 'ماستر', 'مباشرة', 'متر', 'متكامل', 'مدينة',
       'مساحات', 'مساحة', 'مساحه', 'مصر', 'مطار', 'مطبخ', 'مطلوب', 'مع',
       'مقدم', 'مليون', 'مميز', 'من', 'منطقة', 'منهم', 'موقع', 'مول', 'نادي',
       'نوم', 'واتس', 'واتساب', 'يقع', 'يوجد', 'Apartment_Ad_Description'],
      dtype='object')

In [13]:
apartment_ads = [
    "Spacious apartment with great views and convenient access to amenities.",
    "Cozy studio in a quiet neighborhood, perfect for relaxation.",
    "Modern loft with stylish design and close proximity to public transport."
]

# TfidfVectorizer with text preprocessing
tfidf_vectorizer = TfidfVectorizer(
    stop_words='english',
    max_features=5000
)

# Fit and transform the data
tfidf_matrix = tfidf_vectorizer.fit_transform(apartment_ads)

# Get feature names (terms)
feature_names = tfidf_vectorizer.get_feature_names()

# Convert TF-IDF matrix to dense format and create a DataFrame
dense_tfidf_matrix = pd.DataFrame(tfidf_matrix.todense(), columns=feature_names)

# Include apartment ads descriptions as rows in the DataFrame
dense_tfidf_matrix['Apartment_Ad_Description'] = apartment_ads

# Display the DataFrame
dense_tfidf_matrix

,access,amenities,apartment,close,convenient,cozy,design,great,loft,modern,...,proximity,public,quiet,relaxation,spacious,studio,stylish,transport,views,Apartment_Ad_Description
0,0.377964,0.377964,0.377964,0.000000,0.377964,0.000000,0.000000,0.377964,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.377964,0.000000,0.000000,0.000000,0.377964,Spacious apartment with great views and conven...
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.408248,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.408248,0.408248,0.000000,0.408248,0.000000,0.000000,0.000000,"Cozy studio in a quiet neighborhood, perfect f..."
2,0.000000,0.000000,0.000000,0.353553,0.000000,0.000000,0.353553,0.000000,0.353553,0.353553,...,0.353553,0.353553,0.000000,0.000000,0.000000,0.000000,0.353553,0.353553,0.000000,Modern loft with stylish design and close prox...

In [8]:
apartment_ads = [
    "Spacious apartment with great views and convenient access to amenities.",
    "Cozy studio in a quiet neighborhood, perfect for relaxation.",
    "Modern loft with stylish design and close proximity to public transport."
]

# TfidfVectorizer with text preprocessing
tfidf_vectorizer = TfidfVectorizer(
    stop_words='english',
    max_features=10
)

# Fit and transform the data
tfidf_matrix = tfidf_vectorizer.fit_transform(apartment_ads)

# Get feature names (terms)
feature_names = tfidf_vectorizer.get_feature_names()

# Convert TF-IDF matrix to dense format and create a DataFrame
dense_tfidf_matrix = pd.DataFrame(tfidf_matrix.todense(), columns=feature_names)

# Include apartment ads descriptions as rows in the DataFrame
dense_tfidf_matrix['Apartment_Ad_Description'] = apartment_ads

# Display the DataFrame
dense_tfidf_matrix

,access,perfect,proximity,public,quiet,relaxation,spacious,studio,stylish,transport,Apartment_Ad_Description
0,0.707107,0.0,0.0,0.0,0.0,0.0,0.707107,0.0,0.0,0.0,Spacious apartment with great views and conven...
1,0.000000,0.5,0.0,0.0,0.5,0.5,0.000000,0.5,0.0,0.0,"Cozy studio in a quiet neighborhood, perfect f..."
2,0.000000,0.0,0.5,0.5,0.0,0.0,0.000000,0.0,0.5,0.5,Modern loft with stylish design and close prox...

In [14]:

apartment_ads = [
    "Spacious apartment with great views and convenient access to amenities way.",
    "Cozy studio in a quiet neighborhood, perfect for relaxation way.",
    "Modern loft with stylish design and close proximity to public transport way."
]

# TfidfVectorizer with text preprocessing
tfidf_vectorizer = TfidfVectorizer(
    stop_words='english',
    max_df=0.85,  # Ignore terms that appear in more than 85% of the documents
    min_df=0.05,  # Ignore terms that appear in fewer than 5% of the documents
    max_features=5000
)

# Fit and transform the data
tfidf_matrix = tfidf_vectorizer.fit_transform(apartment_ads)

# Get feature names (terms)
feature_names = tfidf_vectorizer.get_feature_names()

# Convert TF-IDF matrix to dense format and create a DataFrame
dense_tfidf_matrix = pd.DataFrame(tfidf_matrix.todense(), columns=feature_names)

# Include apartment ads descriptions as rows in the DataFrame
dense_tfidf_matrix['Apartment_Ad_Description'] = apartment_ads

# Display the DataFrame
dense_tfidf_matrix

,access,amenities,apartment,close,convenient,cozy,design,great,loft,modern,...,proximity,public,quiet,relaxation,spacious,studio,stylish,transport,views,Apartment_Ad_Description
0,0.377964,0.377964,0.377964,0.000000,0.377964,0.000000,0.000000,0.377964,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.377964,0.000000,0.000000,0.000000,0.377964,Spacious apartment with great views and conven...
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.408248,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.408248,0.408248,0.000000,0.408248,0.000000,0.000000,0.000000,"Cozy studio in a quiet neighborhood, perfect f..."
2,0.000000,0.000000,0.000000,0.353553,0.000000,0.000000,0.353553,0.000000,0.353553,0.353553,...,0.353553,0.353553,0.000000,0.000000,0.000000,0.000000,0.353553,0.353553,0.000000,Modern loft with stylish design and close prox...

In [10]:
dense_tfidf_matrix.columns

Index(['access', 'amenities', 'apartment', 'close', 'convenient', 'cozy',
       'design', 'great', 'loft', 'modern', 'neighborhood', 'perfect',
       'proximity', 'public', 'quiet', 'relaxation', 'spacious', 'studio',
       'stylish', 'transport', 'views', 'Apartment_Ad_Description'],
      dtype='object')

In [15]:
pip install googletrans==4.0.0-rc1

Collecting googletrans==4.0.0-rc1
  Downloading googletrans-4.0.0rc1.tar.gz (20 kB)
Collecting httpx==0.13.3
  Downloading httpx-0.13.3-py3-none-any.whl (55 kB)
Collecting rfc3986<2,>=1.3
  Downloading rfc3986-1.5.0-py2.py3-none-any.whl (31 kB)
Collecting chardet==3.*
  Downloading chardet-3.0.4-py2.py3-none-any.whl (133 kB)
Requirement already satisfied: idna==2.* in d:\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (2.10)
Requirement already satisfied: certifi in d:\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (2022.12.7)
Collecting httpcore==0.9.*
  Downloading httpcore-0.9.1-py3-none-any.whl (42 kB)
Requirement already satisfied: sniffio in d:\anaconda3\lib\site-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (1.2.0)
Collecting hstspreload
  Downloading hstspreload-2023.1.1-py3-none-any.whl (1.5 MB)
Collecting h2==3.*
  Downloading h2-3.2.0-py2.py3-none-any.whl (65 kB)
Collecting h11<0.10,>=0.8
  Downloading h11-0.9.0-py2.py3-none-any.whl (53 kB)
Collecting hpack<4,>=3.0
  Downloading hpack-3.0.0-py2.py3-none-any.whl (38 kB)
Collecting hyperframe<6,>=5.2.0
  Downloading hyperframe-5.2.0-py2.py3-none-any.whl (12 kB)
Building wheels for collected packages: googletrans
  Building wheel for googletrans (setup.py): started
  Building wheel for googletrans (setup.py): finished with status 'done'
  Created wheel for googletrans: filename=googletrans-4.0.0rc1-py3-none-any.whl size=17415 sha256=da91b089211be99ba8db180d4d7babacfb33275f5c2a641599c1a889b9753f8f
  Stored in directory: c:\users\hp\appdata\local\pip\cache\wheels\a9\25\af\715361fa79594524c89c75d293def652045f3fdce6ca398712
Successfully built googletrans
Installing collected packages: hyperframe, hpack, h2, h11, rfc3986, httpcore, hstspreload, chardet, httpx, googletrans
  Attempting uninstall: chardet
    Found existing installation: chardet 4.0.0
    Uninstalling chardet-4.0.0:
      Successfully uninstalled chardet-4.0.0
Successfully installed chardet-3.0.4 googletrans-4.0.0rc1 h11-0.9.0 h2-3.2.0 hpack-3.0.0 hstspreload-2023.1.1 httpcore-0.9.1 httpx-0.13.3 hyperframe-5.2.0 rfc3986-1.5.0
Note: you may need to restart the kernel to use updated packages.

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
spyder 4.2.5 requires pyqt5<5.13, which is not installed.
spyder 4.2.5 requires pyqtwebengine<5.13, which is not installed.
conda-repo-cli 1.0.4 requires pathlib, which is not installed.
anaconda-project 0.9.1 requires ruamel-yaml, which is not installed.
pandas-profiling 3.1.0 requires joblib~=1.0.1, but you have joblib 1.2.0 which is incompatible.

In [7]:
from googletrans import Translator

In [8]:
def translate_arabic_to_english(text):
    translator = Translator()
    translation = translator.translate(text, src='ar', dest='en')
    return translation.text

# Example usage
arabic_text = "شقة قسط  بكومباوند"
english_translation = translate_arabic_to_english(arabic_text)

print(f"Arabic: {arabic_text}")
print(f"English Translation: {english_translation}")

Arabic: شقة قسط  بكومباوند
English Translation: Installed apartment in compound

In [6]:
pip install langid==1.1.6

Collecting langid==1.1.6
  Downloading langid-1.1.6.tar.gz (1.9 MB)
Requirement already satisfied: numpy in d:\anaconda3\lib\site-packages (from langid==1.1.6) (1.21.0)
Building wheels for collected packages: langid
  Building wheel for langid (setup.py): started
  Building wheel for langid (setup.py): finished with status 'done'
  Created wheel for langid: filename=langid-1.1.6-py3-none-any.whl size=1941189 sha256=cf272083b24fff20b08f4f8bac4781acaedd398669c184cc0ea7d3b87f79dc1f
  Stored in directory: c:\users\hp\appdata\local\pip\cache\wheels\c5\01\a4\0160c55074707b535a6757a541842817d530d8080ca943a107
Successfully built langid
Installing collected packages: langid
Successfully installed langid-1.1.6
Note: you may need to restart the kernel to use updated packages.

In [12]:
!pip install translate

Collecting translate
  Downloading translate-3.6.1-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: click in d:\anaconda3\lib\site-packages (from translate) (7.1.2)
Collecting libretranslatepy==2.1.1
  Downloading libretranslatepy-2.1.1-py3-none-any.whl (3.2 kB)
Requirement already satisfied: lxml in d:\anaconda3\lib\site-packages (from translate) (4.6.3)
Requirement already satisfied: requests in d:\anaconda3\lib\site-packages (from translate) (2.25.1)
Requirement already satisfied: idna<3,>=2.5 in d:\anaconda3\lib\site-packages (from requests->translate) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in d:\anaconda3\lib\site-packages (from requests->translate) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda3\lib\site-packages (from requests->translate) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\anaconda3\lib\site-packages (from requests->translate) (1.26.4)
Installing collected packages: libretranslatepy, translate
Successfully installed libretranslatepy-2.1.1 translate-3.6.1

In [13]:
from translate import Translator
import langid

In [15]:
from langid import classify
from translate import Translator

def translate_mixed_language(text):
    # Detect the language of the entire sentence
    lang, _ = classify(text)

    # Translate the sentence if it's in Arabic
    if lang == 'ar':
        translator = Translator(to_lang="en", from_lang="ar")
        translated_text = translator.translate(text)
        return translated_text
    else:
        # If the sentence is in English or another language, keep it as it is
        return text

# Example usage
mixed_text = "مرحبا، كيف حالك يل محمد؟ Hello, how are you?"
translated_text = translate_mixed_language(mixed_text)

print(f"Original Text: {mixed_text}")
print(f"Translated Text: {translated_text}")

Original Text: مرحبا، كيف حالك يل محمد؟ Hello, how are you?
Translated Text: Hello, how are you Mohammed? Hello, how are you?

In [63]:
df

,Unnamed: 0,Ad ID,Ad Title,Country,Location,Number of Rooms,Number of Bathrooms,Area,Furnished,creation_date,...,area_unit,currency_unit,payment_option,number_of_photos,construction_state,package_type,down_payment,href,Price,new_txt
0,0,500378700,Apartment for sale in uptown cairo,Cairo,Uptown Cairo,3,3,200.0,NaN,14 minutes ago,...,Sq. M.,EGP,NaN,4,NaN,NaN,NaN,/en/ad/apartment-for-sale-in-uptown-cairo-ID50...,12500000,Apartment for sale in uptown cairoveiw golf di...
1,1,199799269,شقة بسعروفيو مميز متشطبة بالتكييفات استلام فور...,Cairo,Fifth Square,3,2,147.0,2.0,12 minutes ago,...,Sq. M.,EGP,3.0,20,1.0,NaN,5.0,/en/ad/%D8%B4%D9%82%D8%A9-%D8%A8%D8%B3%D8%B9%D...,5000000,المراسمفيفث سكويرشقة 147 مموقع متميزفيو المناظ...
2,2,500378695,Unique apartment for sale in Smouha - Albert F...,Alexandria,Smoha,3,3,275.0,NaN,15 minutes ago,...,Sq. M.,EGP,1.0,16,1.0,free,7500000.0,/en/ad/unique-apartment-for-sale-in-smouha-alb...,7500000,Unique apartment for sale in Smouha - Albert F...
3,3,500378254,Duplex for sale in Telal East new cairo with d...,Cairo,Telal East,3,3,233.0,NaN,4 minutes ago,...,Sq. M.,EGP,NaN,1,NaN,NaN,NaN,/en/ad/duplex-for-sale-in-telal-east-new-cairo...,2500000,Telal east sky duplex View water feature Facin...
4,4,199799411,شقه استلام فوري فيو الاهرامات مقدم١٠٪ باكتوبر,Giza,Sun Capital,2,2,105.0,2.0,2 minutes ago,...,Sq. M.,EGP,3.0,11,1.0,NaN,300000.0,/en/ad/%D8%B4%D9%82%D9%87-%D8%A7%D8%B3%D8%AA%D...,3000000,بسعر حصري استلام فوري بمقدم 10% installments ع...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5548,5548,500376183,apartment for sale at one kattameya | Ready to...,Cairo,One Kattameya,3,3,168.0,NaN,4 days ago,...,Sq. M.,EGP,NaN,6,NaN,featured,NaN,/en/ad/apartment-for-sale-at-one-kattameya-rea...,3100000,Apartment for sale in One Katameya168 metres3 ...
5549,5549,199754188,بسعر الطرح الاول استلم فوري دوبلكس 175م جنب ال...,Cairo,Al Burouj,4,3,175.0,2.0,4 days ago,...,Sq. M.,EGP,3.0,7,1.0,NaN,NaN,/en/ad/%D8%A8%D8%B3%D8%B9%D8%B1-%D8%A7%D9%84%D...,3600000,استلم فوراااا دوبلكس finished للبيع في الشروقك...
5550,5550,199753970,دوبلكس بسعر شقه 212م استلام فوري + تشطيب في اك...,Giza,O West,4,3,212.0,2.0,4 days ago,...,Sq. M.,EGP,3.0,6,1.0,NaN,NaN,/en/ad/%D8%AF%D9%88%D8%A8%D9%84%D9%83%D8%B3-%D...,1400000,دوبلكس جاهز للمعاينه و finished في قلب اكتوبر...
5551,5551,199756342,اخر شقه 136م فوري + متشطبه الترا سوبر لوكس في ...,Cairo,Trio Gardens,2,2,136.0,2.0,4 days ago,...,Sq. M.,EGP,3.0,10,1.0,NaN,NaN,/en/ad/%D8%A7%D8%AE%D8%B1-%D8%B4%D9%82%D9%87-1...,770000,استلم حااالا finished apartment 136م في الجولد...
5552,5552,199438507,شقة للبيع غرفتين متشطب سمارت هوم بالتقسيط في ب...,Giza,Badya Palm Hills,2,2,108.0,NaN,4 weeks ago,...,Sq. M.,EGP,NaN,5,1.0,NaN,530000.0,/en/ad/%D8%B4%D9%82%D8%A9-%D9%84%D9%84%D8%A8%D...,530000,امتلك وحدتك finished الترا مودرن + سمارت هوم ب...

In [64]:
df.columns

Index(['Unnamed: 0', 'Ad ID', 'Ad Title', 'Country', 'Location',
       'Number of Rooms', 'Number of Bathrooms', 'Area', 'Furnished',
       'creation_date', 'Ownership', 'Seller Type', 'amenities_list',
       'description_text', 'area_unit', 'currency_unit', 'payment_option',
       'number_of_photos', 'construction_state', 'package_type',
       'down_payment', 'href', 'Price', 'new_txt'],
      dtype='object')

# Concat Ad title and description

In [6]:
df['full_description'] = df['Ad Title'] +' '+ df['description_text']

In [7]:
replacement_dict = {
    'apartment': ['شقة', 'شقه'],
    'services': ['خدمات','الخدمات'],
    'installments': ['تقسيط','اقساط','installment','اقساط'],
    'finished': [ 'متشطب'],
    'compound': 'كمبوند',
    'furnished':['مفروش'],
    'fifth': ['خامس'],
    'settlement':['تجمع'],
    'mall':['مول'],
    'club':['نادي'],
    'located':['يقع'],
    'near':'القرب',
    'lux':'لوكس',
    'park':'بارك',
    'full':'كامل',
    'swimming':'سباحة',
    'minutes':'دقائق',
    'airport':'مطار',
    'zayed':'زايد',
    'downpayment': ['down payment','مقدم'],
    
    

    # Add more key-value pairs as needed
}

# Specify the column in which you want to replace words
column_to_replace = 'full_description'


def generate_regex(word):
    return fr'\b(?:\w{{0,2}}{re.escape(word)}\w{{0,2}})\b'


def replace_words(text):
    for key, values in replacement_dict.items():
        if isinstance(values, str):
            regex = generate_regex(values)
            text = re.sub(regex, key, text)
        else:
            for value in values:
                regex = generate_regex(value)
                text = re.sub(regex, key, text)
    return text


# Apply the replacement function to the specified column
df['new_txt'] = df[column_to_replace].str[len('Description'):].str.lower().apply(replace_words)

In [8]:
apartment_ads = list(df.new_txt)

In [9]:
tfidf_vectorizer = TfidfVectorizer(
    stop_words='english',
    max_df=0.85,  # Ignore terms that appear in more than 85% of the documents
    min_df=0.05,  # Ignore terms that appear in fewer than 5% of the documents
    max_features=100
)

# Fit and transform the data
tfidf_matrix = tfidf_vectorizer.fit_transform(apartment_ads)

# Get feature names (terms)
feature_names = tfidf_vectorizer.get_feature_names()

# Convert TF-IDF matrix to dense format and create a DataFrame
dense_tfidf_matrix = pd.DataFrame(tfidf_matrix.todense(), columns=feature_names)

# Include apartment ads descriptions as rows in the DataFrame
#dense_tfidf_matrix['Apartment_Ad_Description'] = apartment_ads

# Display the DataFrame
dense_tfidf_matrix

C:\Users\HP\AppData\Roaming\Python\Python38\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,000,10,500,airport,apartment,area,bathrooms,bedrooms,cairo,city,...,مدينة,مساحة,مصر,مطبخ,مميز,من,موقع,نوم,هايد,واتساب
0,0.352446,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.00000,0.0
1,0.137188,0.223113,0.0,0.096794,0.000000,0.0,0.000000,0.00000,0.345006,0.145903,...,0.057558,0.0,0.0,0.000000,0.0,0.111939,0.0,0.000000,0.00000,0.0
2,0.124846,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.101869,0.0,0.000000,0.00000,0.0
3,0.179207,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.146224,0.0,0.000000,0.00000,0.0
4,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.0,0.0,0.211677,0.0,0.545093,0.0,0.000000,0.00000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5822,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.129161,0.00000,0.0
5823,0.269151,0.350183,0.0,0.000000,0.000000,0.0,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.49436,0.0
5824,0.210575,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.00000,0.235361,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.00000,0.0
5825,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.00000,0.094585,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.00000,0.0
5826,0.000000,0.000000,0.0,0.000000,0.257182,0.0,0.237185,0.23421,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.00000,0.0

In [10]:
dense_tfidf_matrix.columns

Index(['000', '10', '500', 'airport', 'apartment', 'area', 'bathrooms',
       'bedrooms', 'cairo', 'city', 'club', 'company', 'compound',
       'descriptionشقة', 'descriptionشقه', 'downpayment', 'estate', 'fifth',
       'finished', 'fully', 'garden', 'hills', 'hyde', 'installments',
       'located', 'location', 'lux', 'mall', 'minutes', 'mountain', 'near',
       'new', 'palm', 'park', 'price', 'project', 'real', 'road', 'sale',
       'services', 'settlement', 'square', 'swimming', 'taj', 'view', 'استلام',
       'التسعين', 'التفاصيل', 'التواصل', 'الجامعة', 'الجديدة', 'الرحاب',
       'السعر', 'السويس', 'الف', 'القاهرة', 'المشروع', 'امام', 'او',
       'بالتقسيط', 'بجوار', 'بدون', 'تاج', 'تراس', 'تشطيب', 'جاردن', 'جدا',
       'حمام', 'ريسبشن', 'سنوات', 'سنين', 'سوبر', 'سيتي', 'شارع', 'شركة',
       'طريق', 'على', 'علي', 'عن', 'غرف', 'غرفة', 'فقط', 'فوري', 'فى', 'في',
       'فيو', 'للبيع', 'ماونتن', 'مباشرة', 'متر', 'مدينة', 'مساحة', 'مصر',
       'مطبخ', 'مميز', 'من', 'موقع', 'نوم', 'هايد', 'واتساب'],
      dtype='object')

In [ ]:
df.head()

In [ ]:
df.dtypes

In [ ]:
df.amenities_list.iloc[1]

In [ ]:
import ast

In [18]:
df['amenities_list'] = df['amenities_list'].apply(ast.literal_eval)

NameError: name 'ast' is not defined

## one hot encoding other features

In [19]:
from sklearn.preprocessing import MultiLabelBinarizer


# Step 2: One-hot encode using scikit-learn
mlb = MultiLabelBinarizer()
#one_hot_encoded = mlb.fit_transform(df['amenities_list'])
one_hot_encoded = pd.DataFrame(mlb.fit_transform(df['amenities_list']), columns=mlb.classes_)

In [20]:
one_hot_encoded

         &  '  ,  /  A  B  C  E  G  ...  n  o  p  r  s  t  u  v  w  y
0     0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
1     1  0  1  1  0  1  1  1  1  1  ...  1  1  0  1  1  1  1  1  1  1
2     1  0  1  1  0  1  0  1  1  1  ...  1  1  0  1  1  1  1  1  1  1
3     1  1  1  1  1  1  1  1  1  1  ...  1  1  1  1  1  1  1  1  1  1
4     1  0  1  1  0  0  1  0  0  1  ...  1  1  0  1  0  1  1  1  0  1
...  .. .. .. .. .. .. .. .. .. ..  ... .. .. .. .. .. .. .. .. .. ..
5822  1  0  1  1  0  1  1  1  1  1  ...  1  1  0  1  1  1  1  1  1  1
5823  1  0  1  1  0  1  1  0  1  1  ...  1  1  0  1  1  1  1  1  1  1
5824  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
5825  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
5826  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0

[5827 rows x 40 columns]

In [21]:

result_df = pd.concat([df, one_hot_encoded], axis=1)

In [22]:
df

,Unnamed: 0,Ad ID,Ad Title,Country,Location,Number of Rooms,Number of Bathrooms,Area,Furnished,creation_date,...,currency_unit,payment_option,number_of_photos,construction_state,package_type,down_payment,href,Price,full_description,new_txt
0,0,199789460,studio in Mivida blue views prime location fro...,Cairo,New Cairo,1,1,86.0,1.0,18 minutes ago,...,EGP,1.0,2,NaN,NaN,5100000.0,/en/ad/studio-in-mivida-blue-views-prime-locat...,5100000.0,studio in Mivida blue views prime location fro...,ivida blue views prime location from owner des...
1,1,199703703,دوبلكس للبيع 260م باقساط 8 سنوات في التجمع الخ...,Cairo,Eelaf Residence,5,5,260.0,2.0,18 minutes ago,...,EGP,2.0,10,NaN,NaN,1143000.0,/en/ad/%D8%AF%D9%88%D8%A8%D9%84%D9%83%D8%B3-%D...,11428000.0,دوبلكس للبيع 260م باقساط 8 سنوات في التجمع الخ...,ع 260م installments 8 سنوات في settlement fift...
2,2,199831199,شقه للبيع باللوتس 180م امام مول Rock gold اكبر...,Cairo,El Lotus,3,2,180.0,2.0,34 minutes ago,...,EGP,1.0,16,1.0,NaN,NaN,/en/ad/%D8%B4%D9%82%D9%87-%D9%84%D9%84%D8%A8%D...,4000000.0,شقه للبيع باللوتس 180م امام مول Rock gold اكبر...,اللوتس 180م امام mall rock gold اكبر mall دهب ...
3,3,199788142,شقة متشطبة بالكامل للبيع ف التجمع عند الجامعه ...,Cairo,New Cairo,3,2,180.0,1.0,18 minutes ago,...,EGP,3.0,5,1.0,NaN,1678000.0,/en/ad/%D8%B4%D9%82%D8%A9-%D9%85%D8%AA%D8%B4%D...,1678000.0,شقة متشطبة بالكامل للبيع ف التجمع عند الجامعه ...,بالكامل للبيع ف settlement عند الجامعه الامريك...
4,4,197283683,بنتهاوس 241م + روف 132م بيت الوطن بالقرب الحي ...,Cairo,New Cairo,4,4,241.0,2.0,18 minutes ago,...,EGP,2.0,9,4.0,NaN,1091875.0,/en/ad/%D8%A8%D9%86%D8%AA%D9%87%D8%A7%D9%88%D8...,4367500.0,بنتهاوس 241م + روف 132م بيت الوطن بالقرب الحي ...,م + روف 132م بيت الوطن near الحي الثاني من clu...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5822,5822,199745636,شقه لقطه للبيع استلام فورى متشطبه فى كمبوند ال...,Cairo,Swan Lake,3,3,166.0,NaN,2 weeks ago,...,EGP,3.0,5,1.0,NaN,NaN,/en/ad/%D8%B4%D9%82%D9%87-%D9%84%D9%82%D8%B7%D...,9500000.0,شقه لقطه للبيع استلام فورى متشطبه فى كمبوند ال...,بيع استلام فورى finished فى compound الجازى ام...
5823,5823,199745408,دوبلكس للبيع بحديقه خاصه استلام فوري 278م في ه...,Cairo,Hyde Park New Cairo,3,4,278.0,2.0,2 weeks ago,...,EGP,1.0,5,4.0,NaN,NaN,/en/ad/%D8%AF%D9%88%D8%A8%D9%84%D9%83%D8%B3-%D...,10300000.0,دوبلكس للبيع بحديقه خاصه استلام فوري 278م في ه...,ع بحديقه خاصه استلام فوري 278م في هايد park - ...
5824,5824,500374906,Amazing Apartment for sale In Palm Hills new c...,Cairo,Palm Hills New Cairo,3,3,205.0,NaN,2 weeks ago,...,EGP,NaN,10,NaN,free,NaN,/en/ad/amazing-apartment-for-sale-in-palm-hill...,7250000.0,Amazing Apartment for sale In Palm Hills new c...,rtment for sale in palm hills new cairo descri...
5825,5825,500375115,Apartment 171m ready to move for sale in Palm...,Cairo,Palm Hills New Cairo,2,3,171.0,NaN,2 weeks ago,...,EGP,NaN,7,NaN,free,NaN,/en/ad/apartment-171m-ready-to-move-for-sale-i...,5700000.0,Apartment 171m ready to move for sale in Palm...,71m ready to move for sale in palm hills desc...
5826,5826,500374237,"For sale, ground floor apartment with garden, ...",Cairo,The Address East,3,2,140.0,2.0,2 weeks ago,...,EGP,NaN,9,NaN,free,NaN,/en/ad/for-sale-ground-floor-apartment-with-ga...,1200000.0,"For sale, ground floor apartment with garden, ...","round floor apartment with garden, immediate r..."

In [23]:
result_df.head()

,Unnamed: 0,Ad ID,Ad Title,Country,Location,Number of Rooms,Number of Bathrooms,Area,Furnished,creation_date,...,n,o,p,r,s,t,u,v,w,y
0,0,199789460,studio in Mivida blue views prime location fro...,Cairo,New Cairo,1,1,86.0,1.0,18 minutes ago,...,0,0,0,0,0,0,0,0,0,0
1,1,199703703,دوبلكس للبيع 260م باقساط 8 سنوات في التجمع الخ...,Cairo,Eelaf Residence,5,5,260.0,2.0,18 minutes ago,...,1,1,0,1,1,1,1,1,1,1
2,2,199831199,شقه للبيع باللوتس 180م امام مول Rock gold اكبر...,Cairo,El Lotus,3,2,180.0,2.0,34 minutes ago,...,1,1,0,1,1,1,1,1,1,1
3,3,199788142,شقة متشطبة بالكامل للبيع ف التجمع عند الجامعه ...,Cairo,New Cairo,3,2,180.0,1.0,18 minutes ago,...,1,1,1,1,1,1,1,1,1,1
4,4,197283683,بنتهاوس 241م + روف 132م بيت الوطن بالقرب الحي ...,Cairo,New Cairo,4,4,241.0,2.0,18 minutes ago,...,1,1,0,1,0,1,1,1,0,1

In [24]:
result_df2 = pd.concat([result_df, dense_tfidf_matrix], axis=1)

In [25]:
df.columns

Index(['Unnamed: 0', 'Ad ID', 'Ad Title', 'Country', 'Location',
       'Number of Rooms', 'Number of Bathrooms', 'Area', 'Furnished',
       'creation_date', 'Ownership', 'Seller Type', 'amenities_list',
       'description_text', 'area_unit', 'currency_unit', 'payment_option',
       'number_of_photos', 'construction_state', 'package_type',
       'down_payment', 'href', 'Price', 'full_description', 'new_txt'],
      dtype='object')

In [26]:
unwanted = ['Unnamed: 0', 'Ad ID', 'Ad Title', 'creation_date','amenities_list','description_text', \
            'area_unit', 'currency_unit','new_txt', 'full_description','href']

In [27]:
df.dtypes

Unnamed: 0               int64
Ad ID                    int64
Ad Title                object
Country                 object
Location                object
Number of Rooms          int64
Number of Bathrooms      int64
Area                   float64
Furnished              float64
creation_date           object
Ownership               object
Seller Type             object
amenities_list          object
description_text        object
area_unit               object
currency_unit           object
payment_option         float64
number_of_photos         int64
construction_state     float64
package_type            object
down_payment           float64
href                    object
Price                  float64
full_description        object
new_txt                 object
dtype: object

# Remove/Clean unlogical downpayments

In [28]:
result_df2['down_payment']  = result_df2['down_payment'].replace([float('inf'), float('-inf'), float('nan')], -1)
result_df2['down_payment']  = result_df2['down_payment'].astype('int64')

In [29]:
result_df2[['down_payment','Price']]

      down_payment       Price
0          5100000   5100000.0
1          1143000  11428000.0
2               -1   4000000.0
3          1678000   1678000.0
4          1091875   4367500.0
...            ...         ...
5822            -1   9500000.0
5823            -1  10300000.0
5824            -1   7250000.0
5825            -1   5700000.0
5826            -1   1200000.0

[5827 rows x 2 columns]

In [30]:
def replace_equal_values(downp, price):
    # Create a new column with -1 if values are equal, otherwise keep the original values
    #result = [-100 if (val1 == val2) or else val1 for val1, val2 in zip(column1, column2)]
    result = [-100 if downp_val == price_val else -200 if downp_val > price_val else downp_val 
              for downp_val, price_val in zip(downp, price)]
    return result



# Apply the function to replace equal values with -1
result_df2['down_payment2'] = replace_equal_values(result_df2['down_payment'], result_df2['Price'])

In [31]:
result_df2[['down_payment','down_payment2','Price']].sample(10)

      down_payment  down_payment2      Price
3571       2100000           -100  2100000.0
3280       1525000           -100  1525000.0
3701        700000         700000  7008000.0
3927        757871           -100   757871.0
3164            -1             -1  5500000.0
2110            -1             -1  4500000.0
4938            -1             -1  2220000.0
4718            -1             -1   500000.0
4773            -1             -1  7700000.0
5230       4945462        4945462  7200000.0

## Defining required features

In [32]:
unwanted = ['Unnamed: 0', 'Ad ID', 'Ad Title', 'creation_date','amenities_list','description_text', \
            'area_unit', 'currency_unit','new_txt', 'full_description','href','down_payment']
target = ['Price']

In [33]:
final_df = result_df2.drop(unwanted,axis=1)

In [34]:
final_df

,Country,Location,Number of Rooms,Number of Bathrooms,Area,Furnished,Ownership,Seller Type,payment_option,number_of_photos,...,مساحة,مصر,مطبخ,مميز,من,موقع,نوم,هايد,واتساب,down_payment2
0,Cairo,New Cairo,1,1,86.0,1.0,resale,individual,1.0,2,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.00000,0.0,-100
1,Cairo,Eelaf Residence,5,5,260.0,2.0,primary,business,2.0,10,...,0.0,0.0,0.000000,0.0,0.111939,0.0,0.000000,0.00000,0.0,1143000
2,Cairo,El Lotus,3,2,180.0,2.0,primary,business,1.0,16,...,0.0,0.0,0.000000,0.0,0.101869,0.0,0.000000,0.00000,0.0,-1
3,Cairo,New Cairo,3,2,180.0,1.0,primary,business,3.0,5,...,0.0,0.0,0.000000,0.0,0.146224,0.0,0.000000,0.00000,0.0,-100
4,Cairo,New Cairo,4,4,241.0,2.0,primary,business,2.0,9,...,0.0,0.0,0.211677,0.0,0.545093,0.0,0.000000,0.00000,0.0,1091875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5822,Cairo,Swan Lake,3,3,166.0,NaN,primary,business,3.0,5,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.129161,0.00000,0.0,-1
5823,Cairo,Hyde Park New Cairo,3,4,278.0,2.0,resale,business,1.0,5,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.49436,0.0,-1
5824,Cairo,Palm Hills New Cairo,3,3,205.0,NaN,resale,business,NaN,10,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.00000,0.0,-1
5825,Cairo,Palm Hills New Cairo,2,3,171.0,NaN,resale,business,NaN,7,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.00000,0.0,-1
5826,Cairo,The Address East,3,2,140.0,2.0,primary,business,NaN,9,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.00000,0.0,-1

In [35]:
df.columns

Index(['Unnamed: 0', 'Ad ID', 'Ad Title', 'Country', 'Location',
       'Number of Rooms', 'Number of Bathrooms', 'Area', 'Furnished',
       'creation_date', 'Ownership', 'Seller Type', 'amenities_list',
       'description_text', 'area_unit', 'currency_unit', 'payment_option',
       'number_of_photos', 'construction_state', 'package_type',
       'down_payment', 'href', 'Price', 'full_description', 'new_txt'],
      dtype='object')

In [36]:
final_df.columns[:30]

Index(['Country', 'Location', 'Number of Rooms', 'Number of Bathrooms', 'Area',
       'Furnished', 'Ownership', 'Seller Type', 'payment_option',
       'number_of_photos', 'construction_state', 'package_type', 'Price', ' ',
       '&', ''', ',', '/', 'A', 'B', 'C', 'E', 'G', 'K', 'L', 'M', 'N', 'P',
       'R', 'S'],
      dtype='object')

In [37]:
#num_features  = ['Number of Rooms', 'Number of Bathrooms', 'Area']

In [38]:
cat_features = ['Country', 'Location', 'Furnished', 'Ownership', 'Seller Type', 'payment_option',
                'construction_state', 'package_type' ]

In [39]:

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from catboost import CatBoostRegressor

In [40]:
from sklearn.metrics import mean_absolute_percentage_error

In [33]:
for i in cat_features:
    final_df[i] = final_df[i].astype(str)

In [39]:
X = final_df.drop(target,axis=1)
y = final_df[target]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [40]:
final_df[cat_features]

,Country,Location,Furnished,Ownership,Seller Type,payment_option,construction_state,package_type
0,Cairo,New Cairo,1.0,resale,individual,1.0,nan,nan
1,Cairo,Eelaf Residence,2.0,primary,business,2.0,nan,nan
2,Cairo,El Lotus,2.0,primary,business,1.0,1.0,nan
3,Cairo,New Cairo,1.0,primary,business,3.0,1.0,nan
4,Cairo,New Cairo,2.0,primary,business,2.0,4.0,nan
...,...,...,...,...,...,...,...,...
5822,Cairo,Swan Lake,nan,primary,business,3.0,1.0,nan
5823,Cairo,Hyde Park New Cairo,2.0,resale,business,1.0,4.0,nan
5824,Cairo,Palm Hills New Cairo,nan,resale,business,nan,nan,free
5825,Cairo,Palm Hills New Cairo,nan,resale,business,nan,nan,free
5826,Cairo,The Address East,2.0,primary,business,nan,nan,free

In [48]:
def calculate_mape(y_true, y_pred):
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [42]:
y_test

          Price
4072  6499000.0
4881  3975000.0
1121  7802000.0
561    450000.0
1188   600000.0
...         ...
4168  6750000.0
2182  8800000.0
1864  3027000.0
4596   960050.0
4625  1200000.0

[1166 rows x 1 columns]

In [367]:
cat_features

['Country',
 'Location',
 'Furnished',
 'Ownership',
 'Seller Type',
 'payment_option',
 'construction_state',
 'package_type']

In [46]:
final_df2 =final_df.copy()#.sample(1500)
X = final_df2.drop(target,axis=1)
# = final_df[target]
y = np.log1p(final_df2[target])
X[cat_features] = X[cat_features].astype('str')
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [49]:
# Instantiate the CatBoostRegressor
catboost_model = CatBoostRegressor(iterations=100, loss_function='RMSE', random_seed=42., cat_features=cat_features,)

# Train the model on the training data
catboost_model.fit(X_train, y_train, eval_set=(X_test, y_test), early_stopping_rounds=10, verbose=False)

# Make predictions on the test set
y_pred = catboost_model.predict(X_test)

# Reverse the log transformation for evaluation
y_test_original = np.expm1(y_test)
y_pred_original = np.expm1(y_pred)

mape = calculate_mape(y_test_original.values, y_pred_original)

# Display MAPE
print(f'MAPE on Test Set: {mape:.2f}%')

MAPE on Test Set: 679.91%

In [50]:


# Instantiate the CatBoostRegressor
catboost_model = CatBoostRegressor(iterations=100, loss_function='RMSE', random_seed=42., cat_features=cat_features,)

# Train the model on the training data
catboost_model.fit(X_train, y_train, eval_set=(X_test, y_test), early_stopping_rounds=10, verbose=False)

# Make predictions on the test set
y_pred = catboost_model.predict(X_test)

# Reverse the log transformation for evaluation
y_test_original = np.expm1(y_test)
y_pred_original = np.expm1(y_pred)

mape = calculate_mape(y_test_original.values, y_pred_original)

# Display MAPE
print(f'MAPE on Test Set: {mape:.2f}%')

MAPE on Test Set: 687.36%

In [50]:
final_df2 =final_df.sample(5000)
X = final_df2.drop(target,axis=1)
# = final_df[target]
y = np.log1p(final_df2[target])
X[cat_features] = X[cat_features].astype('category')
# Split the data into training and testing sets
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [51]:
import lightgbm as lgb

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

train_data = lgb.Dataset(X_train, label=y_train)#, categorical_feature=cat_features)
test_data = lgb.Dataset(X_test, label=y_test, reference=train_data)

# Set hyperparameters for the LightGBM model
params = {
    'objective': 'regression',
    'categorical_feature': cat_features
#     'metric': 'mae',
#     'boosting_type': 'gbdt',
#     'learning_rate': 0.1,
#     'num_leaves': 31,
#     'feature_fraction': 0.9
}

# Train the LightGBM model
lgb_model = lgb.train(train_set=train_data,params=params)
# Make predictions on the test set
y_pred = lgb_model.predict(X_test)

# Reverse the log transformation for evaluation
y_test_original = np.expm1(y_test)
y_pred_original = np.expm1(y_pred)

# Evaluate the model performance
mae = calculate_mape(y_test_original.values.T, y_pred_original)
print(f'Mean Absolute Error on Test Set: {mae:.2f}')

AttributeError: module 'pandas' has no attribute 'Int64Index'

In [483]:
scores = {}
for i in [2000,3000,4000,5000]:
    mae_list=[]
    for j in range(10):
        final_df2 =final_df.sample(i)
        X = final_df2.drop(target,axis=1)
        # = final_df[target]
        y = np.log1p(final_df2[target])
        X[cat_features] = X[cat_features].astype('category')
        import lightgbm as lgb

        # Split the data into training and testing sets
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

        train_data = lgb.Dataset(X_train, label=y_train, categorical_feature=cat_features)
        test_data = lgb.Dataset(X_test, label=y_test, categorical_feature=cat_features, reference=train_data)

        # Set hyperparameters for the LightGBM model
        params = {
            'objective': 'regression',
        #     'metric': 'mae',
        #     'boosting_type': 'gbdt',
        #     'learning_rate': 0.1,
        #     'num_leaves': 31,
        #     'feature_fraction': 0.9
        }

        # Train the LightGBM model
        lgb_model = lgb.train(train_set=train_data,params=params)
        # Make predictions on the test set
        y_pred = lgb_model.predict(X_test)

        # Reverse the log transformation for evaluation
        y_test_original = np.expm1(y_test)
        y_pred_original = np.expm1(y_pred)

        # Evaluate the model performance
        mae = calculate_mape(y_test_original.values.T, y_pred_original)
        mae_list.append(mae)
        #print(f'Mean Absolute Error on Test Set: {mae:.2f}')
    scores[i] = mae_list

[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.003786 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 9086
[LightGBM] [Info] Number of data points in the train set: 1400, number of used features: 126
[LightGBM] [Info] Start training from score 14.979109
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.004455 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 9032
[LightGBM] [Info] Number of data points in the train set: 1400, number of used features: 126
[LightGBM] [Info] Start training from score 14.969563
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.009015 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 9081
[LightGBM] [Info] Number of data points in the train set: 1400, number of used features: 126
[LightGBM] [Info] Start training from score 15.035201
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.007299 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 8864
[LightGBM] [Info] Number of data points in the train set: 1400, number of used features: 126
[LightGBM] [Info] Start training from score 15.008265
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.003693 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 9154
[LightGBM] [Info] Number of data points in the train set: 1400, number of used features: 126
[LightGBM] [Info] Start training from score 14.976414
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.004118 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 9322
[LightGBM] [Info] Number of data points in the train set: 1400, number of used features: 126
[LightGBM] [Info] Start training from score 14.972402
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.003843 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 9106
[LightGBM] [Info] Number of data points in the train set: 1400, number of used features: 126
[LightGBM] [Info] Start training from score 14.973883
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.004342 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 9149
[LightGBM] [Info] Number of data points in the train set: 1400, number of used features: 126
[LightGBM] [Info] Start training from score 14.935920
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.006731 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 9077
[LightGBM] [Info] Number of data points in the train set: 1400, number of used features: 126
[LightGBM] [Info] Start training from score 15.032702
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.007410 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 9115
[LightGBM] [Info] Number of data points in the train set: 1400, number of used features: 126
[LightGBM] [Info] Start training from score 15.022410
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.004964 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 12680
[LightGBM] [Info] Number of data points in the train set: 2100, number of used features: 126
[LightGBM] [Info] Start training from score 14.984197
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.005241 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 12664
[LightGBM] [Info] Number of data points in the train set: 2100, number of used features: 126
[LightGBM] [Info] Start training from score 14.984277
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.005660 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 12783
[LightGBM] [Info] Number of data points in the train set: 2100, number of used features: 126
[LightGBM] [Info] Start training from score 14.983398
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.005621 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 12737
[LightGBM] [Info] Number of data points in the train set: 2100, number of used features: 126
[LightGBM] [Info] Start training from score 14.959014
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.009172 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 12560
[LightGBM] [Info] Number of data points in the train set: 2100, number of used features: 126
[LightGBM] [Info] Start training from score 14.979211
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.005152 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 12682
[LightGBM] [Info] Number of data points in the train set: 2100, number of used features: 126
[LightGBM] [Info] Start training from score 14.976387
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.005317 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 12682
[LightGBM] [Info] Number of data points in the train set: 2100, number of used features: 126
[LightGBM] [Info] Start training from score 14.999848
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.005469 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 12705
[LightGBM] [Info] Number of data points in the train set: 2100, number of used features: 126
[LightGBM] [Info] Start training from score 14.970350
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.009697 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 12679
[LightGBM] [Info] Number of data points in the train set: 2100, number of used features: 126
[LightGBM] [Info] Start training from score 14.989013
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.010102 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 12688
[LightGBM] [Info] Number of data points in the train set: 2100, number of used features: 126
[LightGBM] [Info] Start training from score 14.975012
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.006304 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 15633
[LightGBM] [Info] Number of data points in the train set: 2800, number of used features: 126
[LightGBM] [Info] Start training from score 14.964157
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.007472 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 15619
[LightGBM] [Info] Number of data points in the train set: 2800, number of used features: 126
[LightGBM] [Info] Start training from score 14.995194
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.007242 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 15696
[LightGBM] [Info] Number of data points in the train set: 2800, number of used features: 126
[LightGBM] [Info] Start training from score 14.968195
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.013723 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 15689
[LightGBM] [Info] Number of data points in the train set: 2800, number of used features: 126
[LightGBM] [Info] Start training from score 14.967258
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.011890 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 15748
[LightGBM] [Info] Number of data points in the train set: 2800, number of used features: 126
[LightGBM] [Info] Start training from score 14.983370
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.007317 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 15811
[LightGBM] [Info] Number of data points in the train set: 2800, number of used features: 126
[LightGBM] [Info] Start training from score 14.995515
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.007814 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 15611
[LightGBM] [Info] Number of data points in the train set: 2800, number of used features: 126
[LightGBM] [Info] Start training from score 14.994844
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.011247 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 15516
[LightGBM] [Info] Number of data points in the train set: 2800, number of used features: 126
[LightGBM] [Info] Start training from score 14.974337
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.012642 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 15696
[LightGBM] [Info] Number of data points in the train set: 2800, number of used features: 126
[LightGBM] [Info] Start training from score 14.968618
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.007470 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 15693
[LightGBM] [Info] Number of data points in the train set: 2800, number of used features: 126
[LightGBM] [Info] Start training from score 14.983510
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.007954 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 18185
[LightGBM] [Info] Number of data points in the train set: 3500, number of used features: 126
[LightGBM] [Info] Start training from score 14.991267
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.012672 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 18307
[LightGBM] [Info] Number of data points in the train set: 3500, number of used features: 126
[LightGBM] [Info] Start training from score 14.978652
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.015031 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 18184
[LightGBM] [Info] Number of data points in the train set: 3500, number of used features: 126
[LightGBM] [Info] Start training from score 14.977415
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.007160 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 18225
[LightGBM] [Info] Number of data points in the train set: 3500, number of used features: 126
[LightGBM] [Info] Start training from score 14.982246
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.007726 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 18212
[LightGBM] [Info] Number of data points in the train set: 3500, number of used features: 126
[LightGBM] [Info] Start training from score 14.986109
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.011579 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 18351
[LightGBM] [Info] Number of data points in the train set: 3500, number of used features: 126
[LightGBM] [Info] Start training from score 14.997117
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.012710 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 18156
[LightGBM] [Info] Number of data points in the train set: 3500, number of used features: 126
[LightGBM] [Info] Start training from score 14.981414
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.007239 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 18194
[LightGBM] [Info] Number of data points in the train set: 3500, number of used features: 126
[LightGBM] [Info] Start training from score 14.987010
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.008317 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 18200
[LightGBM] [Info] Number of data points in the train set: 3500, number of used features: 126
[LightGBM] [Info] Start training from score 14.998562
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.011330 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 18192
[LightGBM] [Info] Number of data points in the train set: 3500, number of used features: 126
[LightGBM] [Info] Start training from score 14.980114

In [484]:
scores

{2000: [45.693889057374385,
  50.6093899288062,
  507.13795981243175,
  131.0760524015692,
  51.90930253373356,
  48.250896970477356,
  49.6665765338253,
  52.087515950693366,
  625.5962888986786,
  58.043771468738235],
 3000: [49.698329737338106,
  142.80522828724406,
  93.77453433454025,
  49.097632557459136,
  259.45852367463203,
  371.4383413138219,
  90.97395206492648,
  46.96667547203979,
  49.20796479163759,
  303.3983329921153],
 4000: [74.96335417636824,
  164.0373399156987,
  86.03157925668467,
  43.97767444296445,
  90.85086686734121,
  87.40614110656618,
  474.1387841145756,
  91.96284228694032,
  700.0267656506694,
  66.15101304611221],
 5000: [209.5288589629592,
  390.0626784043519,
  104.8530215443927,
  72.94748468370939,
  45.40765179122368,
  162.6913918920187,
  40.900901257719276,
  150.16065489652172,
  340.05951141095517,
  41.421441168164755]}

In [486]:
average_dict = {key: np.median(value) for key, value in scores.items()}
average_dict

{2000: 51.99840924221346,
 3000: 92.37424319973337,
 4000: 89.12850398695369,
 5000: 127.50683822045721}

In [493]:
average_dict = {key: np.mean(value) for key, value in scores.items()}
average_dict

{2000: 162.0071643556328,
 3000: 145.68195152257545,
 4000: 187.9546360863921,
 5000: 155.80335960120163}

In [357]:
y_pred_original[:10]

array([2986764.56169791, 1122844.50408319,  773352.22294674,
       5118059.13424481, 5663341.32667137, 1815289.50872761,
       5933907.09737025,  507232.42260217, 4623889.08601185,
       1245053.73639474])

In [358]:
y_test_original.head(10)

           Price
4860 5,200,000.0
2861   850,000.0
4406   785,000.0
4276 6,492,205.0
5456 5,510,000.0
3790 1,750,000.0
476  7,100,000.0
1317   300,000.0
2369 2,150,000.0
4715 1,500,000.0

In [359]:
dfx = X_test.copy()

In [360]:
dfx['Price'] = y_test_original

In [361]:
dfx['pred'] = y_pred_original

In [362]:
dfx['diff'] = dfx['Price'] - dfx['pred']

In [363]:
pd.set_option('display.float_format', '{:.2f}'.format)

In [364]:
dfx['diff']

4860    2213235.44
2861    -272844.50
4406      11647.78
4276    1374145.87
5456    -153341.33
           ...
1553    6047762.20
4350   -3226237.49
3282    -692065.10
4123   -5911948.26
4242    -153069.03
Name: diff, Length: 1200, dtype: float64

In [365]:
calculate_mape(y_test_original.values.T, y_pred_original)

45.296579167259196

In [366]:
calculate_mape(dfx['Price'], dfx['pred'])

45.29657916725921

In [367]:
dfx[['Price','pred','diff']]

           Price       pred        diff
4860  5200000.00 2986764.56  2213235.44
2861   850000.00 1122844.50  -272844.50
4406   785000.00  773352.22    11647.78
4276  6492205.00 5118059.13  1374145.87
5456  5510000.00 5663341.33  -153341.33
...          ...        ...         ...
1553 11500000.00 5452237.80  6047762.20
4350  2500000.00 5726237.49 -3226237.49
3282  2500000.00 3192065.10  -692065.10
4123  1380000.00 7291948.26 -5911948.26
4242   600000.00  753069.03  -153069.03

[1200 rows x 3 columns]

In [368]:
dfx['ape'] = 100*(abs(dfx['diff'])/dfx['Price'])

In [369]:
dfx['ape'].max()

4285.609954788077

In [370]:
dfx['ape'].median()

25.14004550473626

In [336]:
pd.options.display.float_format = '{:,.1f}'.format

In [337]:
dfx2 = dfx[['Price','pred','diff','ape']]

In [371]:
dfx[dfx['ape']>200].columns[:50]

Index(['Country', 'Location', 'Number of Rooms', 'Number of Bathrooms', 'Area',
       'Furnished', 'Ownership', 'Seller Type', 'payment_option',
       'number_of_photos', 'construction_state', 'package_type', 'Balcony',
       'Built in Kitchen Appliances', 'Central A/C & heating',
       'Covered Parking', 'Electricity Meter', 'Elevator', 'Landline',
       'Maids Room', 'Natural Gas', 'Pets Allowed', 'Pool', 'Private Garden',
       'Security', 'Water Meter', '000', '10', '500', 'airport', 'apartment',
       'area', 'bathrooms', 'bedrooms', 'cairo', 'city', 'club', 'company',
       'compound', 'descriptionشقة', 'descriptionشقه', 'downpayment', 'estate',
       'fifth', 'finished', 'fully', 'garden', 'hills', 'hyde',
       'installments'],
      dtype='object')

In [372]:
dfx2[dfx2['ape']>200]

          Price        pred        diff       ape
2905 1250000.00  4883044.46 -3633044.46    290.64
1713  475000.00  1736498.52 -1261498.52    265.58
4991  500000.00  1936489.73 -1436489.73    287.30
2539 1333333.00  5126584.54 -3793251.54    284.49
2881  980000.00  3314744.08 -2334744.08    238.24
3649  790000.00  2783765.41 -1993765.41    252.38
3520 1126000.00  6463410.85 -5337410.85    474.02
5282   17000.00  5581313.63 -5564313.63  32731.26
637   877500.00  3188565.56 -2311065.56    263.37
5044  200000.00  1642070.14 -1442070.14    721.04
5464  570000.00  1958499.03 -1388499.03    243.60
3131  470000.00  1678115.78 -1208115.78    257.05
3882  770000.00  2683888.94 -1913888.94    248.56
921   800000.00  2851037.88 -2051037.88    256.38
5813  360000.00  2306752.92 -1946752.92    540.76
2186 1100000.00  3332750.86 -2232750.86    202.98
5283  600000.00  2677011.94 -2077011.94    346.17
3351  420000.00  1434877.06 -1014877.06    241.64
3516     770.00  2753236.15 -2752466.15 357463.14
4943  400000.00  1522607.98 -1122607.98    280.65
871  1166000.00  6961453.40 -5795453.40    497.04
1743  270000.00   933586.66  -663586.66    245.77
3122  600000.00  1841865.24 -1241865.24    206.98
5075  435000.00  1325803.08  -890803.08    204.78
3936     450.00   571770.94  -571320.94 126960.21
5352  750000.00  2858171.83 -2108171.83    281.09
5339  570000.00  8152633.39 -7582633.39   1330.29
1077 1250000.00  3863409.67 -2613409.67    209.07
4935  995000.00  3125915.47 -2130915.47    214.16
3284 3290000.00 12658238.65 -9368238.65    284.75
2461  600000.00  2131735.11 -1531735.11    255.29
5360  570000.00  4126767.63 -3556767.63    623.99
3274 1100000.00  4130165.24 -3030165.24    275.47
3216  539550.00  2100593.28 -1561043.28    289.32
1329  180000.00   802912.70  -622912.70    346.06
4617  950000.00  3312936.30 -2362936.30    248.73
2384  300000.00  1108920.17  -808920.17    269.64
2305  240000.00   737824.10  -497824.10    207.43
4848 2539000.00 11898243.26 -9359243.26    368.62
4790  980000.00  2976842.56 -1996842.56    203.76
3692  600000.00  2737243.28 -2137243.28    356.21
138  1000000.00  3816088.76 -2816088.76    281.61
4906   50000.00   614709.97  -564709.97   1129.42
5415  766000.00  3641837.50 -2875837.50    375.44
4920   50000.00   661408.14  -611408.14   1222.82
1158  512600.00  2543241.31 -2030641.31    396.15
4265 1948150.00  8423382.10 -6475232.10    332.38

In [373]:
dfx[(dfx.downpayment>0)&(dfx.down_payment2==-1)].ape.mean()

61.51433319699306

In [374]:
dfx[(dfx.downpayment>0)&(dfx.down_payment2==-1)].ape.size

329

In [375]:
dfx[(dfx.downpayment==0)].ape.mean()

40.9630163824711

In [376]:
dfx[(dfx.downpayment==0)|(dfx.down_payment2>0)].ape.mean()

39.22809289789971

In [377]:
dfx[(dfx.downpayment==0)|(dfx.down_payment2>0)].sort_values('ape').tail(10)

,Country,Location,Number of Rooms,Number of Bathrooms,Area,Furnished,Ownership,Seller Type,payment_option,number_of_photos,...,من,موقع,نوم,هايد,واتساب,down_payment2,Price,pred,diff,ape
3182,Cairo,Valencia Valley,2,1,119.00,NaN,primary,business,2.00,12,...,0.00,0.00,0.00,0.00,0.00,-1,183260.00,704540.56,-521280.56,284.45
2289,Cairo,Taj City,3,2,136.00,1.00,primary,business,NaN,9,...,0.00,0.00,0.00,0.00,0.00,-1,800000.00,3119432.78,-2319432.78,289.93
4617,Cairo,Hyde Park New Cairo,2,2,112.00,1.00,primary,business,NaN,11,...,0.00,0.00,0.00,0.00,0.00,-1,950000.00,4188344.82,-3238344.82,340.88
5012,Cairo,New Cairo,4,4,213.00,2.00,primary,business,3.00,11,...,0.13,0.00,0.00,0.00,0.00,-1,1000000.00,4585943.62,-3585943.62,358.59
3180,Cairo,5th Settlement,2,1,98.00,NaN,primary,business,2.00,14,...,0.00,0.00,0.00,0.00,0.00,-1,151360.00,735637.97,-584277.97,386.02
4089,Cairo,Valencia Valley,2,2,139.00,NaN,primary,business,2.00,12,...,0.00,0.00,0.00,0.00,0.00,-1,198770.00,1030347.38,-831577.38,418.36
1676,Cairo,Fifth Square,3,3,189.00,NaN,resale,business,NaN,5,...,0.00,0.00,0.00,0.00,0.00,-1,1600000.00,8322651.89,-6722651.89,420.17
4123,Cairo,Palm Hills New Cairo,2,3,137.00,1.00,resale,business,NaN,7,...,0.00,0.00,0.00,0.00,0.00,-1,1380000.00,7291948.26,-5911948.26,428.40
4382,Cairo,Villette,3,3,286.00,2.00,resale,business,NaN,2,...,0.00,0.00,0.00,0.00,0.00,-1,1900000.00,12810737.78,-10910737.78,574.25
1549,Cairo,The Waterway Compound,2,2,169.00,1.00,resale,business,1.00,3,...,0.00,0.00,0.00,0.00,0.00,-1,187500.00,8223018.67,-8035518.67,4285.61

In [393]:
dfx[((dfx.downpayment==0)|(dfx.down_payment2>0))&(dfx['diff']>0)].sort_values('ape').tail(20)#.head(200).tail(10)

,Country,Location,Number of Rooms,Number of Bathrooms,Area,Furnished,Ownership,Seller Type,payment_option,number_of_photos,...,من,موقع,نوم,هايد,واتساب,down_payment2,Price,pred,diff,ape
4291,Cairo,New Cairo,2,2,136.00,NaN,primary,business,NaN,2,...,0.00,0.00,0.20,0.00,0.00,-1,5300000.00,2013266.08,3286733.92,62.01
2744,Cairo,Taj City,2,2,119.00,2.00,primary,business,1.00,10,...,0.00,0.21,0.00,0.00,0.00,-1,4000000.00,1512835.70,2487164.30,62.18
699,Cairo,Fifth Square,3,2,150.00,2.00,primary,individual,1.00,6,...,0.00,0.00,0.00,0.00,0.00,-1,7850000.00,2883903.65,4966096.35,63.26
733,Cairo,AZAD,2,2,122.00,2.00,primary,business,2.00,12,...,0.00,0.00,0.00,0.00,0.00,-1,9523599.00,3086600.49,6436998.51,67.59
2129,Cairo,AZAD,2,2,112.00,2.00,primary,business,3.00,5,...,0.00,0.00,0.00,0.00,0.00,120000,10200000.00,3253537.99,6946462.01,68.10
292,Cairo,The Waterway Compound,5,4,458.00,1.00,primary,business,1.00,7,...,0.11,0.00,0.00,0.00,0.00,-1,33000000.00,10442847.12,22557152.88,68.36
521,Cairo,Hyde Park New Cairo,3,3,144.00,2.00,primary,individual,2.00,6,...,0.14,0.00,0.07,0.52,0.00,1250000,9860000.00,3119815.75,6740184.25,68.36
1830,Cairo,New Cairo,3,4,450.00,2.00,primary,individual,1.00,8,...,0.00,0.00,0.00,0.00,0.00,-1,14200000.00,4394089.56,9805910.44,69.06
1633,Cairo,Mountain View iCity,3,2,144.00,2.00,resale,business,NaN,1,...,0.36,0.00,0.00,0.00,0.00,-1,13477495.00,4131374.51,9346120.49,69.35
758,Cairo,Taj City,2,2,131.00,2.00,primary,business,NaN,10,...,0.00,0.00,0.00,0.00,0.00,-1,6400000.00,1951253.30,4448746.70,69.51
4500,Cairo,Hyde Park New Cairo,3,2,145.00,2.00,primary,business,NaN,10,...,0.00,0.00,0.00,0.00,0.00,-1,14000000.00,4067149.33,9932850.67,70.95
2172,Cairo,Cairo Festival City,2,3,164.00,2.00,resale,business,NaN,1,...,0.00,0.00,0.00,0.00,0.00,-1,13900000.00,3970112.28,9929887.72,71.44
3798,Cairo,Mar Ville New Zayed,3,3,272.00,2.00,primary,business,3.00,1,...,0.00,0.00,0.00,0.00,0.00,-1,19000000.00,5320778.46,13679221.54,72.00
2713,Cairo,Zed East,3,2,177.00,NaN,primary,business,NaN,8,...,0.00,0.00,0.00,0.00,0.00,-1,16154000.00,4115200.11,12038799.89,74.53
2538,Cairo,5th Settlement,4,4,239.00,NaN,primary,business,3.00,9,...,0.10,0.09,0.00,0.00,0.00,-1,16253000.00,3495400.68,12757599.32,78.49
2077,Cairo,Taj City,3,3,150.00,NaN,primary,business,NaN,3,...,0.00,0.00,0.25,0.00,0.00,-1,5500000.00,1129610.41,4370389.59,79.46
5320,Cairo,Hyde Park New Cairo,2,2,100.00,2.00,primary,business,3.00,5,...,0.11,0.00,0.00,0.51,0.00,-1,10500000.00,1920068.86,8579931.14,81.71
4538,Cairo,Trio Gardens,5,4,290.00,2.00,primary,business,3.00,6,...,0.37,0.00,0.00,0.00,0.00,869,17400000.00,3155274.44,14244725.56,81.87
4146,Cairo,Taj City,4,3,220.00,NaN,primary,business,NaN,6,...,0.06,0.00,0.00,0.00,0.00,-1,8600000.00,1485559.57,7114440.43,82.73
534,Cairo,Palm Hills New Cairo,3,3,175.00,2.00,primary,business,3.00,10,...,0.00,0.00,0.20,0.00,0.00,-1,13832000.00,2031902.75,11800097.25,85.31

In [378]:
dfx[(dfx.downpayment==0)|(dfx.down_payment2>0)].sort_values('ape').tail(10).Price

3182    183260.00
2289    800000.00
4617    950000.00
5012   1000000.00
3180    151360.00
4089    198770.00
1676   1600000.00
4123   1380000.00
4382   1900000.00
1549    187500.00
Name: Price, dtype: float64

In [379]:
dfx[(dfx.downpayment==0)|(dfx.down_payment2>0)].sort_values('ape').tail(10)

,Country,Location,Number of Rooms,Number of Bathrooms,Area,Furnished,Ownership,Seller Type,payment_option,number_of_photos,...,من,موقع,نوم,هايد,واتساب,down_payment2,Price,pred,diff,ape
3182,Cairo,Valencia Valley,2,1,119.00,NaN,primary,business,2.00,12,...,0.00,0.00,0.00,0.00,0.00,-1,183260.00,704540.56,-521280.56,284.45
2289,Cairo,Taj City,3,2,136.00,1.00,primary,business,NaN,9,...,0.00,0.00,0.00,0.00,0.00,-1,800000.00,3119432.78,-2319432.78,289.93
4617,Cairo,Hyde Park New Cairo,2,2,112.00,1.00,primary,business,NaN,11,...,0.00,0.00,0.00,0.00,0.00,-1,950000.00,4188344.82,-3238344.82,340.88
5012,Cairo,New Cairo,4,4,213.00,2.00,primary,business,3.00,11,...,0.13,0.00,0.00,0.00,0.00,-1,1000000.00,4585943.62,-3585943.62,358.59
3180,Cairo,5th Settlement,2,1,98.00,NaN,primary,business,2.00,14,...,0.00,0.00,0.00,0.00,0.00,-1,151360.00,735637.97,-584277.97,386.02
4089,Cairo,Valencia Valley,2,2,139.00,NaN,primary,business,2.00,12,...,0.00,0.00,0.00,0.00,0.00,-1,198770.00,1030347.38,-831577.38,418.36
1676,Cairo,Fifth Square,3,3,189.00,NaN,resale,business,NaN,5,...,0.00,0.00,0.00,0.00,0.00,-1,1600000.00,8322651.89,-6722651.89,420.17
4123,Cairo,Palm Hills New Cairo,2,3,137.00,1.00,resale,business,NaN,7,...,0.00,0.00,0.00,0.00,0.00,-1,1380000.00,7291948.26,-5911948.26,428.40
4382,Cairo,Villette,3,3,286.00,2.00,resale,business,NaN,2,...,0.00,0.00,0.00,0.00,0.00,-1,1900000.00,12810737.78,-10910737.78,574.25
1549,Cairo,The Waterway Compound,2,2,169.00,1.00,resale,business,1.00,3,...,0.00,0.00,0.00,0.00,0.00,-1,187500.00,8223018.67,-8035518.67,4285.61

In [395]:
df[df['Unnamed: 0']==699].href.iloc[0]

'/en/ad/%D9%83%D9%85%D8%A8%D9%88%D9%86%D8%AF-%D8%A7%D9%84%D9%85%D8%B1%D8%A7%D8%B3%D9%85-%D8%AC%D9%88%D9%84%D8%AF%D9%86-%D8%B3%D9%83%D9%88%D9%8A%D8%B1-%D8%B4%D9%82%D8%A9-%D9%84%D9%84%D8%A8%D9%8A%D8%B9-ID199827599.html'

In [218]:
dfx.ape.mean()

240.51434370655826

In [166]:
dfx[dfx['ape']<100].ape.mean()

24.935112552058463

In [75]:
100*dfx[dfx['ape']<10].size/dfx.size

20.875

In [183]:
dfx[dfx['ape']>10].sort_values('ape').tail(100).head(10)

           Price        pred         diff  ape
325  3,450,000.0 6,475,130.1 -3,025,130.1 87.7
2306 1,014,102.0 1,906,121.9   -892,019.9 88.0
1073 1,800,000.0 3,428,203.3 -1,628,203.3 90.5
1095 1,300,000.0 2,492,541.8 -1,192,541.8 91.7
333  1,550,700.0 2,988,349.9 -1,437,649.9 92.7
4635 1,660,000.0 3,199,857.1 -1,539,857.1 92.8
5648   700,000.0 1,349,784.7   -649,784.7 92.8
2369 2,150,000.0 4,155,364.8 -2,005,364.8 93.3
1770 1,700,000.0 3,333,370.4 -1,633,370.4 96.1
5109   456,000.0   907,883.5   -451,883.5 99.1

In [186]:
df[df['Unnamed: 0']==1073].href.values

array(['/en/ad/%D8%B4%D9%82%D8%A9-%D8%A8%D8%AC%D8%A7%D8%B1%D8%AF%D9%8A%D9%86%D9%8A%D8%A7-%D9%87%D8%A7%D9%8A%D8%AA%D8%B3-1-%D8%AA%D8%B4%D8%B7%D9%8A%D8%A8-%D8%B3%D9%88%D8%A8%D8%B1-%D9%84%D9%88%D9%83%D8%B3-%D8%A8%D8%AD%D8%B1%D9%8A-%D9%88%D8%A7%D8%AC%D9%87%D8%A9-%D9%84%D9%84%D8%A8%D9%8A%D8%B9-ID199783878.html'],
      dtype=object)

In [131]:
dfx[dfx['ape']==dfx['ape'].max()]

      Price       pred        diff       ape
3516 770.00 2599936.72 -2599166.72 337554.12

In [135]:
df[df.Price<1000]

,Unnamed: 0,Ad ID,Ad Title,Country,Location,Number of Rooms,Number of Bathrooms,Area,Furnished,creation_date,...,currency_unit,payment_option,number_of_photos,construction_state,package_type,down_payment,href,Price,new_txt,full_description
3516,3516,500381847,"For sale, an apartment in Taj City Compound, d...",Cairo,Taj City,3,2,156.00,NaN,2 days ago,...,EGP,NaN,9,NaN,free,NaN,/en/ad/for-sale-an-apartment-in-taj-city-compo...,770.00,"n apartment in Taj City Compound, directly in ...","For sale, an apartment in Taj City Compound, d..."
3936,3936,500377901,للبيع شقة 146م ب 450 الف مقدم فقط بكمبوند سراي,Cairo,Taj City,3,2,146.00,2.00,6 days ago,...,EGP,NaN,2,NaN,free,NaN,/en/ad/%D9%84%D9%84%D8%A8%D9%8A%D8%B9-%D8%B4%D...,450.00,46م ب 450 الف مقدم فقط compound سراي Descripti...,للبيع شقة 146م ب 450 الف مقدم فقط بكمبوند سراي...

In [118]:
dfx['diff'].max()

14357447.598712008

In [119]:
dfx[dfx['diff']==dfx['diff'].max()]

          Price        pred        diff
292 33000000.00 18642552.40 14357447.60

In [121]:
df[df.Price==33_000_000]

,Unnamed: 0,Ad ID,Ad Title,Country,Location,Number of Rooms,Number of Bathrooms,Area,Furnished,creation_date,...,currency_unit,payment_option,number_of_photos,construction_state,package_type,down_payment,href,Price,new_txt,full_description
292,292,199787388,بنتهاوس + روف للبيع متشطب بالتكيفات والفرش فال...,Cairo,The Waterway Compound,5,4,458.00,1.00,4 hours ago,...,EGP,1.00,7,1.00,featured,NaN,/en/ad/%D8%A8%D9%86%D8%AA%D9%87%D8%A7%D9%88%D8...,33000000.00,وف للبيع finished بالتكيفات والفرش فالتجمع كوم...,بنتهاوس + روف للبيع متشطب بالتكيفات والفرش فال...
1925,1925,199811068,بنتهاوس + روف للبيع متشطب بالتكيفات والفرش ف ا...,Cairo,The Waterway Compound,4,4,458.00,NaN,2 days ago,...,EGP,3.00,9,1.00,NaN,NaN,/en/ad/%D8%A8%D9%86%D8%AA%D9%87%D8%A7%D9%88%D8...,33000000.00,وف للبيع finished بالتكيفات والفرش ف settlemen...,بنتهاوس + روف للبيع متشطب بالتكيفات والفرش ف ا...
2562,2562,196541058,استلم فورا اخر شقة للبيع ف واترواي التجمع بأمك...,Cairo,New Cairo,4,2,232.00,2.00,8 months ago,...,EGP,3.00,4,1.00,NaN,NaN,/en/ad/%D8%A7%D8%B3%D8%AA%D9%84%D9%85-%D9%81%D...,33000000.00,اخر apartment للبيع ف واترواي settlement بأمكا...,استلم فورا اخر شقة للبيع ف واترواي التجمع بأمك...
2649,2649,199490102,ذا واتر واي التجمع الخامس بنتهاوس استلام فوري ...,Cairo,The Waterway Compound,4,3,458.00,2.00,3 days ago,...,EGP,3.00,5,1.00,featured,NaN,/en/ad/%D8%B0%D8%A7-%D9%88%D8%A7%D8%AA%D8%B1-%...,33000000.00,settlement fifth بنتهاوس استلام فوري بالاثاث ...,ذا واتر واي التجمع الخامس بنتهاوس استلام فوري ...
4371,4371,197801041,اخر بنتهاوس متطشبه بالتكييفات + الفرش للبيع في...,Cairo,The Waterway Compound,4,3,458.00,2.00,1 week ago,...,EGP,1.00,5,1.00,NaN,NaN,/en/ad/%D8%A7%D8%AE%D8%B1-%D8%A8%D9%86%D8%AA%D...,33000000.00,متطشبه بالتكييفات + الفرش للبيع في ذا وتر واي...,اخر بنتهاوس متطشبه بالتكييفات + الفرش للبيع في...

In [114]:
dfx.Price.mean()

4812051.845626072

In [142]:
mse = mean_squared_error(X_train, y_train)
mse

ValueError: could not convert string to float: 'Giza'

In [396]:
X_test.columns

Index(['Country', 'Location', 'Number of Rooms', 'Number of Bathrooms', 'Area',
       'Furnished', 'Ownership', 'Seller Type', 'payment_option',
       'number_of_photos',
       ...
       'مساحة', 'مصر', 'مطبخ', 'مميز', 'من', 'موقع', 'نوم', 'هايد', 'واتساب',
       'down_payment2'],
      dtype='object', length=127)

In [422]:
!pip install git+https://github.com/SauceCat/PDPbox.git
!pip install --upgrade pycebox

Collecting git+https://github.com/SauceCat/PDPbox.git
  Cloning https://github.com/SauceCat/PDPbox.git to c:\users\hp\appdata\local\temp\pip-req-build-qs3f7rmf

  Running command git clone -q https://github.com/SauceCat/PDPbox.git 'C:\Users\HP\AppData\Local\Temp\pip-req-build-qs3f7rmf'
  error: RPC failed; curl 92 HTTP/2 stream 0 was not closed cleanly: CANCEL (err 8)
  error: 43149 bytes of body are still expected
  fetch-pack: unexpected disconnect while reading sideband packet
  fatal: early EOF
  fatal: fetch-pack: invalid index-pack output
WARNING: Discarding git+https://github.com/SauceCat/PDPbox.git. Command errored out with exit status 128: git clone -q https://github.com/SauceCat/PDPbox.git 'C:\Users\HP\AppData\Local\Temp\pip-req-build-qs3f7rmf' Check the logs for full command output.
ERROR: Command errored out with exit status 128: git clone -q https://github.com/SauceCat/PDPbox.git 'C:\Users\HP\AppData\Local\Temp\pip-req-build-qs3f7rmf' Check the logs for full command output.

Collecting pycebox
  Downloading pycebox-0.0.1.tar.gz (4.5 kB)
Requirement already satisfied: matplotlib in d:\anaconda3\lib\site-packages (from pycebox) (3.3.4)
Requirement already satisfied: numpy in d:\anaconda3\lib\site-packages (from pycebox) (1.22.4)
Requirement already satisfied: pandas in d:\anaconda3\lib\site-packages (from pycebox) (1.2.4)
Requirement already satisfied: six in d:\anaconda3\lib\site-packages (from pycebox) (1.15.0)
Requirement already satisfied: cycler>=0.10 in d:\anaconda3\lib\site-packages (from matplotlib->pycebox) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in d:\anaconda3\lib\site-packages (from matplotlib->pycebox) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in d:\anaconda3\lib\site-packages (from matplotlib->pycebox) (8.2.0)
Requirement already satisfied: python-dateutil>=2.1 in d:\anaconda3\lib\site-packages (from matplotlib->pycebox) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in d:\anaconda3\lib\site-packages (from matplotlib->pycebox) (1.3.1)
Requirement already satisfied: pytz>=2017.3 in d:\anaconda3\lib\site-packages (from pandas->pycebox) (2021.1)
Building wheels for collected packages: pycebox
  Building wheel for pycebox (setup.py): started
  Building wheel for pycebox (setup.py): finished with status 'done'
  Created wheel for pycebox: filename=pycebox-0.0.1-py3-none-any.whl size=3643 sha256=c60bfeb218be035fb66596ef37549e26db2d96b4b442f20d340deb20104d2a62
  Stored in directory: c:\users\hp\appdata\local\pip\cache\wheels\57\1d\11\7ff48510e0a4cc2caea58c2e4a69545ecb452c46f24fa101ae
Successfully built pycebox
Installing collected packages: pycebox
Successfully installed pycebox-0.0.1

In [429]:
pip install --upgrade scikit-learn

Collecting scikit-learn
  Using cached scikit_learn-1.3.2-cp38-cp38-win_amd64.whl (9.3 MB)
Requirement already satisfied: numpy<2.0,>=1.17.3 in d:\anaconda3\lib\site-packages (from scikit-learn) (1.22.4)
Requirement already satisfied: scipy>=1.5.0 in d:\anaconda3\lib\site-packages (from scikit-learn) (1.6.2)
Requirement already satisfied: joblib>=1.1.1 in d:\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\anaconda3\lib\site-packages (from scikit-learn) (2.1.0)
Installing collected packages: scikit-learn
Note: you may need to restart the kernel to use updated packages.

ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'D:\\anaconda3\\Lib\\site-packages\\sklearn\\datasets\\_svmlight_format_fast.cp38-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

In [435]:
!pip uninstall pdpbox
!pip install pdpbox

WARNING: Skipping pdpbox as it is not installed.

Collecting pdpbox
  Using cached PDPbox-0.3.0-py3-none-any.whl (35.8 MB)
Collecting matplotlib>=3.6.2
  Using cached matplotlib-3.7.4-cp38-cp38-win_amd64.whl (7.5 MB)
Requirement already satisfied: setuptools in d:\anaconda3\lib\site-packages (from pdpbox) (52.0.0.post20210125)
Requirement already satisfied: xgboost>=1.7.1 in d:\anaconda3\lib\site-packages (from pdpbox) (2.0.3)
Collecting pqdm>=0.2.0
  Using cached pqdm-0.2.0-py2.py3-none-any.whl (6.8 kB)
Collecting pandas>=1.4.4
  Using cached pandas-2.0.3-cp38-cp38-win_amd64.whl (10.8 MB)
Requirement already satisfied: sphinx>=5.0.2 in d:\anaconda3\lib\site-packages (from pdpbox) (7.1.2)
Requirement already satisfied: joblib>=1.1.0 in d:\anaconda3\lib\site-packages (from pdpbox) (1.2.0)
Collecting numpydoc>=1.4.0
  Using cached numpydoc-1.6.0-py3-none-any.whl (61 kB)
Collecting psutil>=5.9.0
  Using cached psutil-5.9.7-cp37-abi3-win_amd64.whl (252 kB)
Requirement already satisfied: sphinx-rtd-theme>=1.1.1 in d:\anaconda3\lib\site-packages (from pdpbox) (2.0.0)
Requirement already satisfied: tqdm>=4.64.1 in d:\anaconda3\lib\site-packages (from pdpbox) (4.66.1)
Requirement already satisfied: numpy>=1.21.5 in d:\anaconda3\lib\site-packages (from pdpbox) (1.22.4)
Collecting plotly>=5.9.0
  Using cached plotly-5.18.0-py3-none-any.whl (15.6 MB)
Requirement already satisfied: pytest in d:\anaconda3\lib\site-packages (from pdpbox) (6.2.3)
Collecting scikit-learn>=1.0.2
  Using cached scikit_learn-1.3.2-cp38-cp38-win_amd64.whl (9.3 MB)
Requirement already satisfied: fonttools>=4.22.0 in d:\anaconda3\lib\site-packages (from matplotlib>=3.6.2->pdpbox) (4.47.0)
Requirement already satisfied: python-dateutil>=2.7 in d:\anaconda3\lib\site-packages (from matplotlib>=3.6.2->pdpbox) (2.8.2)
Requirement already satisfied: cycler>=0.10 in d:\anaconda3\lib\site-packages (from matplotlib>=3.6.2->pdpbox) (0.10.0)
Requirement already satisfied: pyparsing>=2.3.1 in d:\anaconda3\lib\site-packages (from matplotlib>=3.6.2->pdpbox) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in d:\anaconda3\lib\site-packages (from matplotlib>=3.6.2->pdpbox) (8.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in d:\anaconda3\lib\site-packages (from matplotlib>=3.6.2->pdpbox) (1.3.1)
Requirement already satisfied: packaging>=20.0 in d:\anaconda3\lib\site-packages (from matplotlib>=3.6.2->pdpbox) (23.1)
Requirement already satisfied: importlib-resources>=3.2.0 in d:\anaconda3\lib\site-packages (from matplotlib>=3.6.2->pdpbox) (6.1.1)
Requirement already satisfied: contourpy>=1.0.1 in d:\anaconda3\lib\site-packages (from matplotlib>=3.6.2->pdpbox) (1.1.1)
Requirement already satisfied: six in d:\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.6.2->pdpbox) (1.15.0)
Requirement already satisfied: zipp>=3.1.0 in d:\anaconda3\lib\site-packages (from importlib-resources>=3.2.0->matplotlib>=3.6.2->pdpbox) (3.4.1)
Requirement already satisfied: tomli>=1.1.0 in d:\anaconda3\lib\site-packages (from numpydoc>=1.4.0->pdpbox) (2.0.0)
Requirement already satisfied: Jinja2>=2.10 in d:\anaconda3\lib\site-packages (from numpydoc>=1.4.0->pdpbox) (3.1.2)
Requirement already satisfied: tabulate>=0.8.10 in d:\anaconda3\lib\site-packages (from numpydoc>=1.4.0->pdpbox) (0.9.0)
Requirement already satisfied: MarkupSafe>=2.0 in d:\anaconda3\lib\site-packages (from Jinja2>=2.10->numpydoc>=1.4.0->pdpbox) (2.0.1)
Requirement already satisfied: tzdata>=2022.1 in d:\anaconda3\lib\site-packages (from pandas>=1.4.4->pdpbox) (2023.3)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda3\lib\site-packages (from pandas>=1.4.4->pdpbox) (2021.1)
Requirement already satisfied: tenacity>=6.2.0 in d:\anaconda3\lib\site-packages (from plotly>=5.9.0->pdpbox) (8.0.1)
Requirement already satisfied: bounded-pool-executor in d:\anaconda3\lib\site-packages (from pqdm>=0.2.0->pdpbox) (0.0.3)
Requirement already satisfied: typing-extensions in d:\anaconda3\lib\site-packages (from pqdm>=0.2.0->pdpbox) (3.7.4.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->pdpbox) (2.1.0)
Requirement already satisfied: scipy>=1.5.0 in d:\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->pdpbox) (1.6.2)
Requirement already satisfied: babel>=2.9 in d:\anaconda3\lib\site-packages (from sphinx>=5.0.2->pdpbox) (2.9.0)
Requirement already satisfied: sphinxcontrib-serializinghtml>=1.1.5 in d:\anaconda3\lib\site-packages (from sphinx>=5.0.2->pdpbox) (1.1.5)
Requirement already satisfied: Pygments>=2.13 in d:\anaconda3\lib\site-packages (from sphinx>=5.0.2->pdpbox) (2.17.2)
Requirement already satisfied: sphinxcontrib-devhelp in d:\anaconda3\lib\site-packages (from sphinx>=5.0.2->pdpbox) (1.0.2)
Requirement already satisfied: sphinxcontrib-applehelp in d:\anaconda3\lib\site-packages (from sphinx>=5.0.2->pdpbox) (1.0.2)
Requirement already satisfied: alabaster<0.8,>=0.7 in d:\anaconda3\lib\site-packages (from sphinx>=5.0.2->pdpbox) (0.7.12)
Requirement already satisfied: docutils<0.21,>=0.18.1 in d:\anaconda3\lib\site-packages (from sphinx>=5.0.2->pdpbox) (0.20.1)
Requirement already satisfied: requests>=2.25.0 in d:\anaconda3\lib\site-packages (from sphinx>=5.0.2->pdpbox) (2.25.1)
Requirement already satisfied: importlib-metadata>=4.8 in d:\anaconda3\lib\site-packages (from sphinx>=5.0.2->pdpbox) (4.11.3)
Requirement already satisfied: colorama>=0.4.5 in d:\anaconda3\lib\site-packages (from sphinx>=5.0.2->pdpbox) (0.4.6)
Requirement already satisfied: sphinxcontrib-qthelp in d:\anaconda3\lib\site-packages (from sphinx>=5.0.2->pdpbox) (1.0.3)
Requirement already satisfied: sphinxcontrib-jsmath in d:\anaconda3\lib\site-packages (from sphinx>=5.0.2->pdpbox) (1.0.1)
Requirement already satisfied: sphinxcontrib-htmlhelp>=2.0.0 in d:\anaconda3\lib\site-packages (from sphinx>=5.0.2->pdpbox) (2.0.1)
Requirement already satisfied: snowballstemmer>=2.0 in d:\anaconda3\lib\site-packages (from sphinx>=5.0.2->pdpbox) (2.1.0)
Requirement already satisfied: imagesize>=1.3 in d:\anaconda3\lib\site-packages (from sphinx>=5.0.2->pdpbox) (1.4.1)

ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'D:\\anaconda3\\Lib\\site-packages\\sklearn\\datasets\\_svmlight_format_fast.cp38-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\anaconda3\lib\site-packages (from requests>=2.25.0->sphinx>=5.0.2->pdpbox) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda3\lib\site-packages (from requests>=2.25.0->sphinx>=5.0.2->pdpbox) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in d:\anaconda3\lib\site-packages (from requests>=2.25.0->sphinx>=5.0.2->pdpbox) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in d:\anaconda3\lib\site-packages (from requests>=2.25.0->sphinx>=5.0.2->pdpbox) (3.0.4)
Requirement already satisfied: sphinxcontrib-jquery<5,>=4 in d:\anaconda3\lib\site-packages (from sphinx-rtd-theme>=1.1.1->pdpbox) (4.1)
Requirement already satisfied: attrs>=19.2.0 in d:\anaconda3\lib\site-packages (from pytest->pdpbox) (20.3.0)
Requirement already satisfied: iniconfig in d:\anaconda3\lib\site-packages (from pytest->pdpbox) (1.1.1)
Requirement already satisfied: pluggy<1.0.0a1,>=0.12 in d:\anaconda3\lib\site-packages (from pytest->pdpbox) (0.13.1)
Requirement already satisfied: py>=1.8.2 in d:\anaconda3\lib\site-packages (from pytest->pdpbox) (1.10.0)
Requirement already satisfied: toml in d:\anaconda3\lib\site-packages (from pytest->pdpbox) (0.10.2)
Requirement already satisfied: atomicwrites>=1.0 in d:\anaconda3\lib\site-packages (from pytest->pdpbox) (1.4.0)
Installing collected packages: scikit-learn, psutil, pqdm, plotly, pandas, numpydoc, matplotlib, pdpbox

In [436]:
import matplotlib.pyplot as plt
#from sklearn.inspection import plot_partial_dependence

In [437]:
from pdpbox import pdp, get_dataset, info_plots

ModuleNotFoundError: No module named 'pdpbox'

In [438]:
from pycebox.ice import ice, ice_plot

In [117]:
feature_names = ['Area']

In [121]:
for i in range(len(feature_names)):
    pdp_feat_df = pdp.PDPIsolate(\
    model=lgb_model,\
    df=pd.concat((X_test, y_test), axis=1),
    model_features=X_test.columns, feature=feature_names[i])
    fig, axes = pdp.pdp_plot(\
    pdp_isolate_out=pdp_feat_df, center=True, x_quantile=True,\
    ncols=3, plot_lines=True, frac_to_plot=100,
    figsize=(15,6), feature_name=feature_labels[i])

TypeError: __init__() missing 1 required positional argument: 'feature_name'

In [443]:
X_train.iloc[:,4]

4309   300.00
676    127.00
1648   200.00
1115   127.00
2605    99.00
        ...
4941   155.00
2756   140.00
1445   226.00
1958   199.00
2356   370.00
Name: Area, Length: 2800, dtype: float64

In [453]:
X_train.columns[feature_index]

'Area'

In [452]:
feature_index = 4  # Replace with the index of the feature you are interested in

# Create ICE data
ice_data = ice(X_train, predict=lgb_model.predict, column=X_train.columns[feature_index])

# Plot the ICE plot
ice_plot(ice_data, c="lightblue", plot_pdp=True, pdp_kwargs={'c': 'red'})
plt.xlabel(data.feature_names[feature_index])
plt.ylabel('Partial Dependence')
plt.title(f'Partial Dependence Plot for {data.feature_names[feature_index]}')
plt.show()

ValueError: could not convert string to float: 'Cairo'

In [457]:
ice_data = ice(X_train, predict=lgb_model.predict, column=X_train.columns[feature_index])

ValueError: could not convert string to float: 'Cairo'

In [455]:
def predict_prob_last_born(test_df):
    return lgb_model.predict(test_df)

In [456]:
ice_data.plot_data_vs_ice(predict_prob_last_born,\
                            'Probability of Firstborn',\
                            X=X_test, feature_name='birthn',\
                            feature_label='# of Births',\
                            color_by='Q1', legend_key=legend_key)

NameError: name 'ice_data' is not defined

In [43]:
from sklearn.inspection import plot_partial_dependence

In [57]:
import matplotlib.pyplot as plt

In [44]:
X_train.columns

Index(['Country', 'Location', 'Number of Rooms', 'Number of Bathrooms', 'Area',
       'Furnished', 'Ownership', 'Seller Type', 'payment_option',
       'number_of_photos',
       ...
       'مساحة', 'مصر', 'مطبخ', 'مميز', 'من', 'موقع', 'نوم', 'هايد', 'واتساب',
       'down_payment2'],
      dtype='object', length=127)

In [49]:
lgb_data = lgb.Dataset(X_train, label=y_train)

In [53]:
params = {'objective': 'regression', 'metric': 'mse'}
model = lgb.train(params, lgb_data)

[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.014930 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 18120
[LightGBM] [Info] Number of data points in the train set: 3500, number of used features: 126
[LightGBM] [Info] Start training from score 15.005296

In [122]:
!pip install --user pdpbox==0.2.0

Collecting pdpbox==0.2.0
  Downloading PDPbox-0.2.0.tar.gz (57.7 MB)
Requirement already satisfied: pandas in c:\users\hp\appdata\roaming\python\python38\site-packages (from pdpbox==0.2.0) (2.0.3)
Requirement already satisfied: numpy in d:\anaconda3\lib\site-packages (from pdpbox==0.2.0) (1.22.4)
Requirement already satisfied: scipy in d:\anaconda3\lib\site-packages (from pdpbox==0.2.0) (1.6.2)
Requirement already satisfied: matplotlib>=2.1.2 in c:\users\hp\appdata\roaming\python\python38\site-packages (from pdpbox==0.2.0) (3.7.4)
Requirement already satisfied: joblib in d:\anaconda3\lib\site-packages (from pdpbox==0.2.0) (1.2.0)
Requirement already satisfied: psutil in d:\anaconda3\lib\site-packages (from pdpbox==0.2.0) (5.9.7)
Requirement already satisfied: scikit-learn in c:\users\hp\appdata\roaming\python\python38\site-packages (from pdpbox==0.2.0) (1.1.2)
Requirement already satisfied: importlib-resources>=3.2.0 in d:\anaconda3\lib\site-packages (from matplotlib>=2.1.2->pdpbox==0.2.0) (6.1.1)
Requirement already satisfied: pillow>=6.2.0 in d:\anaconda3\lib\site-packages (from matplotlib>=2.1.2->pdpbox==0.2.0) (8.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in d:\anaconda3\lib\site-packages (from matplotlib>=2.1.2->pdpbox==0.2.0) (1.3.1)
Requirement already satisfied: cycler>=0.10 in d:\anaconda3\lib\site-packages (from matplotlib>=2.1.2->pdpbox==0.2.0) (0.10.0)
Requirement already satisfied: contourpy>=1.0.1 in d:\anaconda3\lib\site-packages (from matplotlib>=2.1.2->pdpbox==0.2.0) (1.1.1)
Requirement already satisfied: packaging>=20.0 in d:\anaconda3\lib\site-packages (from matplotlib>=2.1.2->pdpbox==0.2.0) (23.1)
Requirement already satisfied: fonttools>=4.22.0 in d:\anaconda3\lib\site-packages (from matplotlib>=2.1.2->pdpbox==0.2.0) (4.47.0)
Requirement already satisfied: python-dateutil>=2.7 in d:\anaconda3\lib\site-packages (from matplotlib>=2.1.2->pdpbox==0.2.0) (2.8.2)
Requirement already satisfied: pyparsing>=2.3.1 in d:\anaconda3\lib\site-packages (from matplotlib>=2.1.2->pdpbox==0.2.0) (2.4.7)
Requirement already satisfied: six in d:\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=2.1.2->pdpbox==0.2.0) (1.15.0)
Requirement already satisfied: zipp>=3.1.0 in d:\anaconda3\lib\site-packages (from importlib-resources>=3.2.0->matplotlib>=2.1.2->pdpbox==0.2.0) (3.4.1)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda3\lib\site-packages (from pandas->pdpbox==0.2.0) (2021.1)
Requirement already satisfied: tzdata>=2022.1 in d:\anaconda3\lib\site-packages (from pandas->pdpbox==0.2.0) (2023.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\anaconda3\lib\site-packages (from scikit-learn->pdpbox==0.2.0) (2.1.0)
Building wheels for collected packages: pdpbox
  Building wheel for pdpbox (setup.py): started
  Building wheel for pdpbox (setup.py): finished with status 'done'
  Created wheel for pdpbox: filename=PDPbox-0.2.0-py3-none-any.whl size=57690733 sha256=7c946fa81c737f475b091aae5deec5ade8da8fff6018d32484c0cc45e353a438
  Stored in directory: c:\users\hp\appdata\local\pip\cache\wheels\7f\7d\f5\136844ad90a5cfb60b92f6de7afadd0574042b6012a6d16e2b
Successfully built pdpbox
Installing collected packages: pdpbox
  Attempting uninstall: pdpbox
    Found existing installation: PDPbox 0.3.0
    Uninstalling PDPbox-0.3.0:
      Successfully uninstalled PDPbox-0.3.0
Successfully installed pdpbox-0.2.0

In [123]:
from pdpbox import pdp, info_plots

In [60]:
from lightgbm import plot_tree

In [90]:
import lightgbm as lgb
from sklearn.base import BaseEstimator, RegressorMixin
from sklearn.utils.validation import check_X_y, check_array, check_is_fitted

class LGBWrapper(BaseEstimator, RegressorMixin):
    def __init__(self, model=None):
        self.model = model
        self.is_fitted_ = True  # Flag to track whether the model is fitted

    def fit(self, X, y=None):
        check_is_fitted(self)  # Check if the model is already fitted
        X, y = check_X_y(X, y)
        lgb_train = lgb.Dataset(X, y)
        self.model = lgb.train(self.model.params, lgb_train, num_boost_round=self.model.best_iteration)
        self.is_fitted_ = True  # Set the fitted flag to True
        return self

    def predict(self, X):
        check_is_fitted(self)  # Check if the model is fitted before predicting
        #X = check_array(X)
        return self.model.predict(X)


#lgb_model = lgb.train(params, lgb.Dataset(X, y), num_boost_round=100)

# Create a LightGBM wrapper with the trained model
lgb_wrapper = LGBWrapper(model=lgb_model)

In [52]:
from pdpbox import pdp, info_plots

In [62]:
def array_to_df(arr, columns):
    return pd.DataFrame(arr, columns=columns)
feature_names = list(X_train.columns)+['Price']


# PDP for a single feature (e.g., feature at index 5)
pdp_feature = pdp.pdp_isolate(model=catboost_model, dataset=pd.concat([pd.concat([X_train,y_train],axis=1),y_train],axis=1), model_features=feature_names, feature=feature_names[4])
pdp.pdp_plot(pdp_feature, feature_names[4])
plt.show()

# PDP for two features (interaction plot)
features_to_plot = ['Area','Price']
inter1 = pdp.pdp_interact(model=catboost_model, dataset=array_to_df(pd.concat([X_train,y_train],axis=1), feature_names), model_features=feature_names, features=features_to_plot)
pdp.pdp_interact_plot(inter1, feature_names=features_to_plot, plot_type='contour')
plt.show()

CatBoostError: C:/Go_Agent/pipelines/BuildMaster/catboost.git/catboost/libs/data/features_layout.cpp:109: All feature names should be different, but 'Price' used more than once.